{{!-- single_project_bottom_separator_template.handlebars

	Bottom Separator after each project entry
--}}

<tr  class="project_separator_row_jq">
	<td colspan="2">	
		<div class="project-container-bottom-border" ></div>
	</td>
</tr>
