{{!--  save_view__on_main_page_root.handlebars

    Placed on a page to provide an option to save a view
--}}

<div >
    <input type="button" value="Save View" 
        class=" selector_save_view_button ">

</div>