 {{!-- A comment:  protein_filters_show_protein_groups_filter.handlebarssearchDetailsMainPage_DisplayPerTypeRow.handlebars 
 
	A Row under "Filters:" at top of page
 --}}

 <tr >
    <td style="vertical-align: top; padding-bottom: 4px;">Show Protein Groups:</td>
    <td colspan="5" style=" vertical-align: top;  padding-bottom: 4px;">
        <label><input type="radio" name="filter_show_protein_groups" class=" selector_filter_show_protein_groups_yes " style="margin-left: 0px;"
            {{#if groupProteins}} checked {{/if}}/> Yes</label> 
        <label><input type="radio" name="filter_show_protein_groups" class=" selector_filter_show_protein_groups_no "
            {{#if groupProteins}} {{else}} checked {{/if}} /> No</label>
    </td>
 </tr>