{{!--  protein_reporter_ions_selection_block.handlebars --}}

    <div class=" selector_protein_reporter_ion_block  reporter-ion-mass-selection-outer-block ">

        <div style="font-size: 18px; font-weight: bold; float: left; ">Filter On Reporter Ions:</div>
        <div class="reporter-ion-mass-selection-block" >
          <div style="margin-top: 2px;">
            <div class=" selector_protein_reporter_ion_list "></div>
          </div>          
        </div> 
        
        <div style="clear: left;"></div>
    </div>
