{{!--  protein_page_single_protein_reported_peptide_child_row_template.handlebars --}}


	<tr class=" expand-child peptide_child_container_jq " style="display:none;">
	
		<td colspan="{{ colSpan }}" style="text-align: center;" class=" child_data_container_jq ">
		
			<div style="color: green; font-size: 16px; padding-top: 10px; padding-bottom: 10px;" >
				Loading...
			</div>
		</td>
	</tr>
	