{{!--  protein_mods_static_selection_entry.handlebars --}}
<div class=" mod-mass-outer-div ">
    <label>
        <div style="display: inline-block">
            <input type="checkbox" class=" selector_mod_entry_checkbox " {{#if isSelected }} checked {{/if}}>
        </div>
        <div style="display: inline-block">
            {{ modEntry.mass }} ({{ modEntry.residueLetter }})
        </div>
    </label>
</div>