{{!--  protein_mods_selection_change_fake_link.handlebars  --}}
<div style="white-space: nowrap; margin-top: 2px;" class=" left-margin-same-as-checkbox "> {{!--  left-margin-same-as-checkbox; to align with checkbox --}}
    <span class="fake-link selector_change_mods_fake_link" >Change Modification Filters</span>
</div>
