{{!--  protein_mods_selection_entry.handlebars --}}
<div class=" mod-mass-outer-div">
    <label>
        <div style="display: inline-block">
            <input type="checkbox" class=" selector_mod_entry_checkbox " {{#if isSelected }} checked {{/if}}>
        </div>
        <div style="display: inline-block">
            {{ modMass }}
        </div>
        {{!--  
        <div class=" selector_mod_entry clickable mod-mass {{ classAdditions }} ">{{ modMass }}</div>
        --}}
    </label>
</div>