{{!--  protein_reporter_ions_selection_entry.handlebars --}}
<div class=" reporter-ion-mass-outer-div ">
    <label>
        <div style="display: inline-block">
            <input type="checkbox" class=" selector_reporter_ion_entry_checkbox " {{#if isSelected }} checked {{/if}}>
        </div>
        <div style="display: inline-block">
            {{ reporterIonMass }}
        </div>
    </label>
</div>