 {{!-- A comment: protein_mods_selection_dialog_root.handlebars  --}}

<div class=" modal-overlay-body-standard-padding  selector_mods_selection_dialog_root ">

    <div class=" selector_mods_selection_dialog_above_mod_list_block ">  {{!-- may need to measure height and adjust max-height of selector_mods_selection_dialog_list_bounding_box --}}
        <div style="font-weight: bold; margin-bottom: 10px;">
            Protein Name (from FASTA): {{ proteinData.name }}
        </div>
        {{#if selectedProteinSequencePositionsCommaDelim }}
            <div style="font-weight: bold; margin-bottom: 10px;">
                For selected protein positions: {{ selectedProteinSequencePositionsCommaDelim }}
            </div>
        {{/if}}
        <div style="font-weight: bold; margin-bottom: 10px;">
            Select Modification Masses to filter on.
            (Click to select/deselect)
        </div>
    </div>
		 {{!-- max-height: value tied to height of total modal overlay, which is specified in JS code 
                    width: value tied to width of list entry
         --}}
	<div style=" max-height: 300px; overflow-y: auto; width: 285px; overflow-x: hidden; "
		 class=" mod-mass-select-dialog-bounding-box  selector_mods_selection_dialog_list_bounding_box ">
		{{!-- Where the searches and their cutoff data is inserted --}}
		<div class=" selector_mod_mass_select_table_container mod-mass-select-dialog-mass-list-block " >
		</div>
	</div>
	
	<div style="margin-top: 15px;">
		<input  class=" selector_mod_mass_select_update_button "
			type="button" value="Update" >
		<input  class=" selector_mod_mass_select_cancel_button "
			type="button" value="Cancel"> 
	</div>
</div>