{{!--  
    protein_page_single_protein_overlay_container_template.handlebars

    Overlay Container for Single Protein Display
 --}}

	{{!--  padding-left and padding-right to override values in class overall-enclosing-block --}}
<div id="view_single_protein_overlay_div" class=" overall-enclosing-block " style=" margin-left: auto;margin-right: auto; padding-left: 0px; padding-right: 0px; " >

  <div id="view_single_protein_inner_overlay_div"  class=" view-single-protein-overlay-div " >

	<div id="view_single_protein_overlay_header" class="view-single-protein-overlay-header" style="width:100%; " >

		<h1 id="view_single_protein_overlay_X_for_exit_overlay" class="view-single-protein-overlay-X-for-exit-overlay" >X</h1>
							
		<h1 id="view_single_protein_overlay_header_text" class="view-single-protein-overlay-header-text" >Protein Data</h1>
	</div>
	<div id="view_single_protein_overlay_body" class="view-single-protein-overlay-body" >

		<div class="modal-overlay-body-standard-padding" >

			<div id="view_single_protein_overlay_loading_protein_name_description">
			</div>

			<div  style="font-size: 24px; font-weight: bold; color: green; margin-bottom: 40px; ">
				Loading Data
			</div>

			<div >

				<div id="main_spinner_block"></div>
				
			</div>
			
		</div>
	</div>
  </div>
</div>	
