{{!--  
    protein_page_single_protein_overlay_background_template.handlebars

    Background for Overlay Container for Single Protein Display
 --}}


<div id="single_protein_overlay_background" class="single-protein-modal-dialog-overlay-background" >

</div>
