{{!--  protein_page_protein_tooltip.handlebars --}}

<div style="margin-bottom:10px;" class="isTooltip">

	<div style="margin-bottom:10px;" class="isTooltip">
	<span class='is-tooltip-label'>Name(s) and description(s) uploaded to Limelight:</span> 
	</div>

	{{#each proteinNamesAndDescriptions as |proteinNamesAndDescription|}}

		<div style="margin-bottom:15px;margin-left:10px;" class="isTooltip">
		<span>{{ name }}</span> <span>{{ description }}</span>
		</div>

	{{/each}}
</div>		
