{{!--  protein_mods_selection_block.handlebars --}}

<div >
    <div style="margin-bottom: 15px;" class=" selector_protein_mod_block  modification-mass-selection-outer-block ">

        {{!--  Variable Modifications --}}
        <div style="font-size: 18px; font-weight: bold; float: left; ">Filter On Variable Modifications:</div>
        <div class="modification-mass-selection-block" >
          <div style="margin-top: 2px;">
            {{#if showNoVariableModificationsMsg }}
              <div class=" left-margin-same-as-checkbox "> {{!--  left-margin-same-as-checkbox; to align with checkbox in Static Mods --}}
                No Variable Modifications
              </div>
            {{else}}
                <div class=" selector_protein_variable_modification_list "></div>
                <div class=" selector_protein_variable_modification_change_selection_link_container "></div>
            {{/if}}
          </div>
        </div> 

        <div style="clear: left;"></div>

        {{!--  Static Modifications --}}
        <div style="font-size: 18px; font-weight: bold; float: left; ">Filter On Static Modifications:</div>
        <div class="modification-mass-selection-block" >
          <div style="margin-top: 2px;">
            {{#if showNoStaticModificationsMsg }}
              <div class=" left-margin-same-as-checkbox "> {{!--  left-margin-same-as-checkbox; to align with checkbox in Variable Mods --}}
                No Static Modifications
              </div>
            {{else}}
                <div class=" selector_protein_static_modification_list "></div>
            {{/if}}
          </div>          
        </div> 

        <div style="clear: left;"></div>

    </div>
</div>