{{!--  protein_mods_selection_change_fake_link.handlebars   margin-left: 4px; to match checkbox styling --}}
<div class="fake-link selector_change_mods_fake_link" style="white-space: nowrap; margin-top: 2px; margin-left: 4px;">
    Change Modification Filters
</div>
