{{!-- user_entry_separator_template.handlebars

    Separator for after each entry in invited_person_entry_separator.handlebars
--}}

		<tr>
			<td colspan="10" >
				<div class="top-level-label-bottom-border" ></div>
			</td>
		</tr>
		