
{{!-- A comment:  searchDetailsMainPage_SingleSearch_Name_Details.handlebars
 
		A Single Search, Search Name and in the future the search details expansion:

	A Row of "Search:" label and a <td> for the actual search name and details to display
 --}}
  	<div>
  		{{ searchName }} ({{ searchId }})
  	</div>
  
