{{!-- searchDetails_SubGroupEntry.handlebars --}}

{{!--  Duplicated in searchDetails_ExpandSearchContents.handlebars (Same folder) --}}
<span class=" filter-single-value-display-block "
      title="{{ searchSubgroupItem.subgroupName_fromImportFile }}"
>
    {{ searchSubgroupItem.subgroupName_Display }}
</span>
