 {{!-- A comment:  searchDetailsMainPage_Single_RootExceptFilters.handlebars
 
		For Single Search Only:

	A Row of "Search:" label and a <td> for the actual search name and details to display
 --}}
<tr class=" selector_search_item_root_container ">
  <td style="vertical-align: top;">
	<div>
		Search:
	</div>
  </td>
	<td class=" " style="vertical-align: top;">
		<img class="icon-small fake-link-image selector_search_item_expand " src="static/images/pointer-right.png" >
		<img class="icon-small fake-link-image selector_search_item_collapse " src="static/images/pointer-down.png" style="display: none;">
  </td>
  <td class="  " style="vertical-align: top;">
		<div class=" selector_search_name_details_holder " style="">
		</div>
		<div class=" selector_search_details_container " style="display: none;">
		</div>
  </td>
</tr>
