 {{!-- A comment: --}}
<span class=" filter-single-value-display-block  {{#if displayOnly }}{{else}} clickable {{/if}} " 
	>{{ name }} ({{ searchProgramName }}): {{ value }}</span><span style="font-size: 1px;"> </span>
