{{!-- A comment:  searchDetailsMainPage_MultipleSearches_Root.handlebars
 
		For Multiple Searches Only:

	A Row of "Searches:" label and a <td> for the search data for all the searches to display
 --}}
<tr >
  <td style="vertical-align: top;">
	<div>
		Searches:
	</div>
  </td>
  <td class=" selector_searches_data_holder " style="vertical-align: top;">
  </td>
</tr>
