

Requirements for building.

The build environment (Java, Node, NPM versions and tooling) is defined by the
Limelight build Docker image. See that repository for the current requirements
and for building:

https://github.com/yeastrc/limelight-build-docker
