{{!-- project_notes_outer_container.handlebars --}}

<div class="project-info-single-block" >
    <div class="second-level-label project-info-label">Notes:</div>

	<div id="notes_list_container_div" class="second-level-text project-info-text"></div>

</div>
