<form id="add-protein-position-form">
    <div style="display:inline-block;vertical-align: top;">
        <div>Select a protein:</div>
        <div>
            <select id="add-protein-position-select">

                {{#each proteins as |protein| }}
                    <option value="{{protein.id}}" title="Name: {{protein.name}}
Description: {{protein.description}}">{{protein.name}}</option>
                {{/each}}

            </select>
            <div style="margin-top:5px;">
                <input style="font-size:10pt;" type="button" id="protein-position-filter-add" value="Add" />
                <input style="font-size:10pt;" type="button" id="protein-position-filter-cancel" value="Close" />
            </div>
        </div>
    </div>

    <div style="display:inline-block;vertical-align: top;">
        <div>Positions:</div>
        <div>
            <input type="text" id="protein-position-filter-start-position" name="start-position" size="3" value="1"> to <input type="text" id="protein-position-filter-end-position" name="end-position" size="3">
        </div>
        <div>
            <span style="font-size:10pt;">Enter same number twice<br>to select single position.</span>
        </div>
    </div>
</form>
