<div style="margin-top:10px;margin-bottom:10px;">

    <div id="protein-position-filter-info" style="display:inline-block;font-size:16px;font-weight:700;">
        {{#if isEmpty}}
            Showing all proteins and positions.
        {{else}}
            Showing: 
            {{#each filterItems as |filterItem| }}
                <div class="protein-filter-item">{{filterItem.displayString}}</div>
            {{/each}}
        {{/if}}
    </div>

    <div id="protein-position-filter-launch" style="display:inline-block;font-weight:normal;font-size:12px;" class="fake-link">[Change]</div>

</div>
