<div id="data-table-container-container">
    <div style="margin-top:15px;margin-bottom:5px;">
        <span style="font-size:16pt;">Modification List</span>
        <span style="font-size:12pt;">(click row to view proteins)</span>
    </div>
    <div id="data-table-container"></div>
</div>
