<div id="data-viz-options-container">
    <div id="data-viz-title">Data Visualization Options:</div>
    <div id="data-viz-form">
        PSM quant method:
            <input type="radio" name="psm-quant" id="psm-quant-option-ratios" value="ratios" selected>Ratios
            <input type="radio" name="psm-quant" id="psm-quant-option-counts" value="counts">Counts
    </div>
</div>
