<div id="data-viz-options-container">
    <div id="data-viz-title">Data Visualization Options:</div>
    <div id="data-viz-form">

        <div id="form-sections" style="width:900px;">

                <div class="viz-form-section">
                Quant method:

                <div style="margin-top:10px;">
                    <input type="radio" name="psm-quant" id="psm-quant-option-ratios" value="ratios" checked>Ratios<br>
                    <input type="radio" name="psm-quant" id="psm-quant-option-counts" value="counts">Counts
                </div>

                    <div style="margin-top:10px;">
                        <input type="radio" name="quant-type" id="quant-type-option-psms" value="psms" checked>PSMs<br>
                        <input type="radio" name="quant-type" id="quant-type-option-scans" value="scans">Scans
                    </div>

                <div style="margin-top:10px;">
                    <input type="button" id="update-viz-button" class="button" value="Update Visualization"/>
                </div>
            </div>

            <div class="viz-form-section">
                Max cutoff for color scale:<br>
                <span style="font-size:10px">(Leave blank to use defaults.)</span>

                <table style="margin-top:10px;">
                    <tr>
                        <td>Ratio:</td>
                        <td><input type="text" id="color-cutoff-ratio" name="color-cutoff-ratio" size="4"/></td>
                    </tr>
                    <tr>
                        <td>Count:</td>
                        <td><input type="text" id="color-cutoff-count" name="color-cutoff-count" size="4"/></td>
                    </tr>
                </table>
            </div>

            <div class="viz-form-section">
                Min and max mod masses:<br>
                <span style="font-size:10px">(Leave blank to use defaults.)</span>

                <table style="margin-top:10px;">
                    <tr>
                        <td>Minimum:</td>
                        <td><input type="text" id="modmass-cutoff-min" name="modmass-cutoff-min" size="4"/></td>
                    </tr>
                    <tr>
                        <td>Maximum:</td>
                        <td><input type="text" id="modmass-cutoff-max" name="modmass-cutoff-max" size="4"/></td>
                    </tr>
                </table>
            </div>

            <div class="viz-form-section">
                <div>Transformations:</div>

                <div style="margin-top:5px;">
                    <input type="radio" name="data-transformation" id="data-transformation-none" value="none" checked>None
                </div>
                <div style="margin-top:5px;">
                    <input type="radio" name="data-transformation" id="data-transformation-scaled-mean-diff" value="scaled-mean-diff">Scaled Mean Diff.
                </div>
                <div style="margin-top:5px;">
                    <input type="radio" name="data-transformation" id="data-transformation-per-mod-zscore" value="per-mod-zscore">Per-mod Z-Score
                </div>
                <div style="margin-top:5px;">
                    <input type="radio" name="data-transformation" id="data-transformation-global-zscore" value="global-zscore">Global Z-Score
                </div>
                <div style="margin-top:5px;">
                    <input type="radio" name="data-transformation" id="data-transformation-global-pvalue" value="global-pvalue">Global P-Value
                </div>
            </div>

            <div class="viz-form-section">
                <div style="margin-top:10px;">
                    <input type="checkbox" name="include-open-mods" id="include-open-mods-checkbox" value="include-open-mods" checked>Include open mods
                </div>
            </div>

        </div> <!-- end form sections -->

    </div>

</div>
