<div class="mod-mass-listing" id="mod-mass-div-{{modMass}}">
    <div class="mod-mass-listing-header">
        <div style="display: none;" class="indicator-image open-indicator-image"><img class="icon-small fake-link-image" src="static/images/pointer-down.png"></div>
        <div class="indicator-image closed-indicator-image"><img class="icon-small fake-link-image" src="static/images/pointer-right.png"></div>
        <span class="mod-mass-text">Mod Mass: {{modMass}}</span>
    </div>

    <div style="display:none;" class="mod-mass-listing-data"></div>
</div>
