<div style="padding:10px;" id="protein-position-filter-protein-information-container">

    <div class="protein-position-filter-protein-name">Name: {{proteinName}}</div>

    <div style="margin-top:10px;" class="protein-position-filter-protein-description">Description: {{proteinDescription}}</div>

    <div style="margin-top:10px;" class="protein-position-filter-show-modded-residues">
        Linkable Positions (click box to include/exclude):
        
        <div >
        	<span class="fake-link selector_select_all_positions ">Select All Positions</span>
        	&nbsp;&nbsp;&nbsp;&nbsp;
        	<span class="fake-link selector_deselect_all_positions ">Deselect All Positions</span>
        </div>

        <div class="protein-position-filter-position-list-container">

        </div>
    </div>
</div>