<div id="protein-position-filter-container">

    <div id="protein-position-filter-left-pane-content">

        <div style="width:100%;text-align:center;font-weight:bold;font-size:14pt;margin-top:5px;">Select Protein
            <span id="clear-all-link" class="clickable" style="font-size:10pt;font-weight:normal;">[clear all]</span>
        </div>
        <div id="protein-position-filter-protein-list"></div>

	</div>

    <div style="font-size:14pt;" id="protein-position-filter-right-pane-content">
        <div style="margin:10px;">
            Select a protein on the left to include it in the results on this page. You may select as many proteins as you wish. If none are selected,
            results for all proteins will be shown.
            <br><br>
            You may also select specific positions in that protein after selecting it.
        </div>
    </div>
				
</div>