<div style="background-color:white;" class="protein-position-list-root-container">
 <div style="padding:15px;width:85%;" class="protein-position-list-content">Loading protein position modification data...</div>
</div>