<div style="padding:10px;" id="protein-position-filter-protein-information-container">

    <div class="protein-position-filter-protein-name">Name: {{proteinName}}</div>

    <div style="margin-top:10px;" class="protein-position-filter-protein-description">Description: {{proteinDescription}}</div>

    <div style="margin-top:10px;" class="protein-position-filter-show-modded-residues">
        Linkable Positions (click box to include/exclude):

        <div class="protein-position-filter-position-list-container">

        </div>
    </div>
</div>