
	<table id="main_data_table" style="border-width:0px;" >
	  <thead>
	   <tr>
	  	<th style="text-align: left;">
	  		Search Id
	  	</th>
	  	<th style="text-align: left;">
	  		Reported Peptide Id
	  	</th>
	  	<th style="text-align: left;">
	  		Reported Peptide Sequence
	  	</th>
	  	<th style="text-align: left;">
	  		Modifications
	  	</th>
	  	<th style="text-align: left;">
	  		Number PSMs
	  	</th>
	  	<th style="text-align: left;">
	  		Protein(s)
	  	</th>
	   {{#each reportedPeptideAnnotationTypes }}
		  	<th style="text-align: left;">
		  		Peptide: {{ this.name }}
		  	</th>
	   {{/each}}
	   {{#each psmAnnotationTypes }}
		  	<th style="text-align: left;">
		  		Best PSM: {{ this.name }}
		  	</th>
	   {{/each}}
	   </tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
