{{!--  share_page__on_main_page_root.handlebars

    Placed on a page to provide an option to Share a Page (Create Short URL)
--}}

<div class=" share-page-container ">
    <input type="button" value="Share Page" 
        class=" selector_share_page_button ">

</div>