{{!--  share_page_overlay_contents.handlebars

    Placed in the overlay for Share a Page (Create Short URL)
--}}

<div class=" modal-overlay-body-standard-padding selector_share_page_overlay_root_container ">
    <div >
        {{ urlShortcutString }}
    </div>
    <div style="margin-top: 15px;">
        <div >
            Use this URL to share this page and all current options with authorized users.  
        </div>
        <div >
            This URL does not provide access rights to anyone with the URL.
        </div>
    </div>
    {{!-- Not Enabled
    <div style="margin-top: 10px">
        <input type="button" value="Close" class=" selector_shortened_url_display_overlay_close ">
    </div>
    --}}
</div>
