{{!-- A comment: project_searches_copy_move_container_template.handlebars --}}

<div class="modal-overlay-body-standard-padding">

    <div >Click the title of the project to which you would like to 
        {{#if doCopy }}copy{{else}}move{{/if}}
            the selected searches to.</div>
    
    <div >

        <div class="top-level-label-bottom-border" ></div>
        
        {{#if noProjectsFound }}
            <div >
                No other projects to 
                {{#if doCopy }}copy{{else}}move{{/if}}
                    to for selected searches.
                All searches are in all other projects.
            </div>
        {{else}}
            <div class=" selector_copy_searches_other_project_list " style="overflow-y: auto; max-height: 500px;">{{!--max-height tied to height of modal dialog  --}}
                {{!-- The other projects to copy to will be inserted here --}}
            </div>
        {{/if}}
    </div>	
</div>