{{!-- A comment: project_searches_copy_move_item_template.handlebars --}}

<div >
    <div data-other_project_id="{{ projectId }}"
            class=" fake-link  copy_search_project_choice_jq" 
            >{{ projectTitle }}
    </div>
    <div class="top-level-label-bottom-border" ></div>
</div>
