 {{!-- A comment: project_search_details_add_comment_template.handlebars --}}


<div class=" selector_comments_add_comment_open_container " 
    >[<span class=" fake-link  selector_comments_add_comment_open  selector_tool_tip_attached" style="font-size:80%;text-decoration:none;" 
        data-tooltip="Add a Comment"
        >+Comment</span>]</div>
