 {{!-- A comment: project_searches_admin_buttons_template.handlebars 
 
        This has no single container DOM element so cannot do $( html ).appendTo( $parent )
 --}}


<div style="display:inline-block;position:relative;">  {{!--  outer div to support overlay div when button disabled --}}
    <input class="submit-button tool_tip_attached_jq " type="button" id="copy_search_button"
                data-tooltip="Click here to copy the selected searches to another project."
            value="Copy Searches" disabled>
         {{!--  overlay div to provide tooltip for button --}}
    <div class=" tool_tip_attached_jq   " id="copy_search_button_cover_when_disabled" 
        style="position:absolute;left:0;right:0;top:0;bottom:0;" 
        data-tooltip="Select one or more searches below and click here to copy the selected searches to another project." ></div>
</div>

<div style="display:inline-block;position:relative;">  {{!--  outer div to support overlay div when button disabled --}}
    <input class="submit-button tool_tip_attached_jq " type="button" id="move_search_button"
                data-tooltip="Click here to move the selected searches to another project."
            value="Move Searches" disabled>
         {{!--  overlay div to provide tooltip for button --}}
    <div class=" tool_tip_attached_jq   " id="move_search_button_cover_when_disabled" 
        style="position:absolute;left:0;right:0;top:0;bottom:0;" 
        data-tooltip="Select one or more searches below and click here to move the selected searches to another project." ></div>
</div>
