<section id="cite">

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">How to Cite Limelight</h2>
                    <div class="lead">
						<p>If you use limelight as part of your research, please cite us using:</p>
						<p><blockquote>Discovery and visualization of uncharacterized drug-protein adducts using mass spectrometry. Riffle M, Hoopmann MR, Jaschob D, Zhong G, Mortiz RL, MacCoss MJ, Davis TN, Isoherranen N, Zelter A. 2021. (Under Review))</blockquote></p>
					</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <!--<img class="img-responsive" src="img/cite-limelight.png" alt="">-->
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

</section>
<!-- /.banner -->


