<section id="cite">

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">How to Cite Limelight</h2>
                    <div class="lead">
						<p>If you use limelight as part of your research, please cite us using:</p>
						<p><blockquote><a href="https://www.biorxiv.org/content/10.1101/2021.06.24.449838v1" target="_blank">Discovery and visualization of uncharacterized drug-protein adducts using mass spectrometry. (2021) Michael Riffle, Michael R. Hoopmann, Daniel Jaschob, Guo Zhong, Robert L. Moritz, Michael J. MacCoss, Trisha N. Davis, Nina Isoherranen, Alex Zelter
                        bioRxiv 2021.06.24.449838; doi: https://doi.org/10.1101/2021.06.24.449838</a></blockquote></p>
					</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <a href="https://www.biorxiv.org/content/10.1101/2021.06.24.449838v1" target="_blank"><img class="img-responsive" src="img/cite-limelight.png" alt=""></a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

</section>
<!-- /.banner -->


