<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="logo-image" src="img/limelight-logo-light.png"> limelight
                <p class="copyright small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-8">
                  <ul class="list-inline pull-right">
	            	<li>
	                    <a class="page-scroll" href="#features">Features</a>
	                </li>
	                <li>
	                    <a class="page-scroll" href="#cite">How to Cite</a>
	                </li>
					<li>
						<a href="https://github.com/yeastrc/limelight-core" class="page-scroll"><i class="fa fa-github fa-fw"></i>View on GitHub</a>
					</li>
                      <!--
					<li>
						<a href="https://twitter.com/proxl_ms" class="page-scroll"><i class="fa fa-twitter fa-fw"></i>Follow on Twitter</a>
					</li>
					-->

                </ul>
            </div>
        </div>
    </div>
</footer>
