
  	<div  style="position: relative;" class="page-label">
  		<div class="error-message-container error_message_container_jq" id="error_message_login_username_required">
  			<div class="error-message-inner-container" >
  				<div class="error-message-close-x error_message_close_x_jq">X</div>
	  			<div class="error-message-text" >Username is required</div>
  			</div>
	  	</div>
  		<div class="error-message-container error_message_container_jq" id="error_message_login_password_required">
  			<div class="error-message-inner-container" >
  				<div class="error-message-close-x error_message_close_x_jq">X</div>
	  			<div class="error-message-text" >Password is required</div>
  			</div>
	  	</div>
  		<div class="error-message-container error_message_container_jq" id="error_message_login_username_or_login_password_invalid">
  			<div class="error-message-inner-container" >
  				<div class="error-message-close-x error_message_close_x_jq">X</div>
	  			<div class="error-message-text" >Username or Password is invalid</div>
  			</div>
	  	</div>
  		<div class="error-message-container error_message_container_jq" id="error_message_user_disabled">
  			<div class="error-message-inner-container" >
  				<div class="error-message-close-x error_message_close_x_jq">X</div>
	  			<div class="error-message-text" >User disabled</div>
  			</div>
	  	</div>
  		<div class="error-message-container error_message_container_jq" id="error_message_no_local_account">
  			<div class="error-message-inner-container" >
  				<div class="error-message-close-x error_message_close_x_jq">X</div>
	  			<div class="error-message-text" >No account on Limelight</div>
  			</div>
	  	</div>
  		<div class="error-message-container error_message_container_jq" id="error_message_system_error">
  			<div class="error-message-inner-container" >
  				<div class="error-message-close-x error_message_close_x_jq">X</div>
	  			<div class="error-message-text" >System Error</div>
  			</div>
	  	</div>
  		Please Sign In
  	</div>
  	
	<div >
	
 	<form  id="login_form" action="">
 	
		<input type="text" id="login_username" placeholder="Username" class="input-field input_field_jq" maxlength="40"/><br> <!--  size="20" size controlled by CSS -->
		<input type="password" id="login_password" placeholder="Password" class="input-field input_field_jq" maxlength="40" /><br> <!--  size="20" size controlled by CSS -->
		
	 	<input type="submit" class="submit-button" value="Sign In" id="login_person_button">
	</form>
	
	
	
	</div>
	