
  	<div  style="position: relative;" class="page-label">
  	
  		<div class="error-message-container error_message_container_jq" id="error_message_username_or_email_required">
  			<div class="error-message-inner-container" >
  				<div class="error-message-close-x error_message_close_x_jq">X</div>
	  			<div class="error-message-text" >Username or Email Address is required</div>
		  	</div>
	  	</div>
  		<div class="error-message-container error_message_container_jq" id="error_message_username_and_email_both_populated">
  			<div class="error-message-inner-container" >
  				<div class="error-message-close-x error_message_close_x_jq">X</div>
	  			<div class="error-message-text" >Cannot populate both Username and Email Address</div>
		  	</div>
	  	</div>
  		<div class="error-message-container error_message_container_jq" id="error_message_username_invalid">
  			<div class="error-message-inner-container" >
  				<div class="error-message-close-x error_message_close_x_jq">X</div>
	  			<div class="error-message-text" >Username provided is invalid</div>
		  	</div>
	  	</div>
  		<div class="error-message-container error_message_container_jq" id="error_message_email_invalid">
  			<div class="error-message-inner-container" >
  				<div class="error-message-close-x error_message_close_x_jq">X</div>
	  			<div class="error-message-text" >Email Address provided is invalid</div>
		  	</div>
	  	</div>
  		<div class="error-message-container error_message_container_jq" id="error_message_system_error">
  			<div class="error-message-inner-container" >
  				<div class="error-message-close-x error_message_close_x_jq">X</div>
	  			<div class="error-message-text" >System Error</div>
		  	</div>
	  	</div>
	  	
  		<div class="success-message-container error_message_container_jq" id="success_message_system_success">
  			<div class="success-message-inner-container" >
  				<div class="success-message-close-x error_message_close_x_jq">X</div>
	  			<div class="success-message-text" >Email sent</div>
		  	</div>
	  	</div>	  	
  		Reset your password
  	</div>
  	
  	
	<form id="reset_password_form" action="" >
	  <div >
		<input type="text" id="reset_password_username" placeholder="Username" class="input-field input_field_jq" maxlength="40"/><br> <!--  size="20" size controlled by CSS -->
	  </div>
	  <div  class="page-label" style="margin: 0px; padding: 0px; margin-bottom: 3px;">
	  	or
	  </div>
	  <div >
		<input type="text" id="reset_password_email" placeholder="Email Address" class="input-field input_field_jq" maxlength="255" /><br> <!--  size="20" size controlled by CSS -->
	  </div>
		
	 	<INPUT TYPE="submit" class="submit-button" VALUE="Reset Password">
	</form>
	
	<div class="page-text" style="margin-bottom: 10px;">
		A link will be emailed to you for resetting your password. The link is valid for 24 hours.
	</div>
	