<?xml version="1.0" encoding="UTF-8"?>


<Configuration  status="debug" >

  <Appenders>
  
  <!--  
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L)  %c - %m%n"/>
    </Console>
   -->
   
   <!-- This next appender is not working to create an output file -->
   
    <!-- Rolling File Appender -->
    <RollingFile name="RollingFile">
    	<!-- Compared to log4j, the system variable requires 'sys:' before it -->
      <FileName>${sys:catalina.base}/logs/limelight.log</FileName>
      <FilePattern>${sys:catalina.base}/logs/limelight-%d{yyyy-MM-dd}.log.zip</FilePattern>
      <PatternLayout>
        <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy/>
      </Policies>
      <DefaultRolloverStrategy max="20" />
    </RollingFile>
        
  </Appenders>
  <Loggers>
    <Logger name="org.apache.log4j.xml" level="debug"/>
	<!-- 
    <Logger name="org.springframework.transaction.interceptor" level="TRACE"/>
    -->
    <Root level="info">
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>
</Configuration>