
<div id="view_spectra_overlay_div" class=" view-spectra-overlay-div " >

	<div id="view_spectra_overlay_header" class="view-spectra-overlay-header" style="width:100%; " >

		<h1 id="view_spectra_overlay_X_for_exit_overlay" class="view-spectra-overlay-X-for-exit-overlay" >X</h1>
							
		<h1 id="view_spectra_overlay_header_text" class="view-spectra-overlay-header-text" >Spectrum Viewer</h1>
	</div>
	<div id="view_spectra_overlay_body" class="view-spectra-overlay-body" >


		{{!-- The div <div id="lorikeet"></div> will be inserted in this div and removed from this div --}}
	    <div id="lorikeet_holder_div" ></div>

	</div>

</div>	
