 {{!-- A comment: --}}
 <tr style=" vertical-align: top; padding-top: 2px;" class=" annotation_entry_root_tr_jq ">
	<td style="  line-height: 1.3em; white-space: nowrap; padding-left: 10px; padding-right: 5px; ">
		{{ name }} ({{ searchProgramName }}):
	</td>
	<td>
		<input class=" selector_annotation_cutoff_input_field " id="annotation_cutoff_input_field_{{ annotationTypeId }}"
			 type="text" value="{{ value }}" />
	</td>
	<td class=" annotation_cutoff_not_number_message_jq  error-text " style="display: none; padding-left: 10px; " >
		value has to be a decimal number 
	</td>
	<td style="width: 100%;"></td>
 </tr>
