 {{!-- A comment: --}}

<div class=" modal-overlay-body-standard-padding ">
  
		 {{!-- max-height: value tied to height of total modal overlay, which is specified in JS code --}}
	<div style="max-height: 380px; overflow-y: auto;"
		 class=" search-cutoffs-user-input-search-bounding-box "
		 id="search_filters_change_per_searches_container_scrollable_div">
		{{!-- Where the searches and their cutoff data is inserted --}}
		<table id="search_filters_change_per_searches" >
		</table>
	</div>
	
	<div style="margin-top: 15px;">
		<input  id="search_filters_change_update_button"
			type="button" value="Update"
			class=" save_user_cutoff_values_button_jq  "> 
		<input  id="search_filters_change_cancel_button"
			type="button" value="Cancel"> 
 {{!-- 			
		<input  id="search_filters_change_reset_to_defaults_button"
			type="button" value="Reset to Defaults (Not Implemented Yet)">
 --}}	
	</div>
</div>