 {{!-- A comment:  searchDetailsUserInputSection_SearchSeparatorEntry.handlebars --}}
 <tr style=" vertical-align: top; padding-top: 2px; width: 100%;" >
	<td colspan="4" >
		<div  style="padding-top: 25px; " ></div>
		<div  style="border-top-width: 20px; width: 100%; " class=" search-cutoffs-user-input-search-separator "></div>
		<div  style="padding-top: 25px; " ></div>
	</td>
 </tr>
