 {{!-- A comment: --}}
<tr style=" vertical-align: top;" class=" cutoff_per_search_block_tr_jq {{ highlightThisSectionClass }} ">
	<td style=" padding-left: 5px; padding-top: 3px; padding-bottom: 2px; font-weight: bold; line-height: 1.3em; white-space: nowrap;  ">
		{{ perTypeLabel }} Filters:
	</td>
</tr>

