# .env file for supplying settings to initializing Limelight using docker-compose

# Change these passwords.
MYSQL_ROOT_PASSWORD=change_this_password
MYSQL_PASSWORD=change_this_password

# Can change the mysql user Limelight uses, but not necessary
MYSQL_USER=limelight_db_user

# This manages the memory usage of components of Limelight
IMPORTER_JAVA_OPTIONS=-Xmx3g -Xms500m
WEBAPP_JAVA_OPTIONS=-Xms2024m -Xmx2024m

# This manages optimization settings for MySQL
MYSQL_OPTIONS=--max-connections=500 --skip-ssl

# Settings for setting up sending of emails by Limelight
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USERNAME=smtp_username
SMTP_PASSWORD=smtp_password


#
# Optional config options. Uncomment and change value to change configuration
#

# Settings for spectr (spectral data storage and retrieval) service
# Setting to larger values may improve performance for function related to retrieving many
# spectra, but consume more resources
# SPECTR_MAX_SCAN_BATCH_SIZE=200

# Settings for .blib (Bibliospec spectral library export) service in Limelight
# yes = always delete working directory, no = never delete, "on success" = only delete on successful requests
# BLIB_APP_CLEAN_WORKDIR=yes

# The number of threads to use for simultaneous processing of scan files for exporting .blib spectral libraries
# Setting to a hire number will improve performance for multi-scan-file exports.
# MS2_MAX_THREADS=1

#
# End Optional config options
#