/node_modules/
/handlebars_templates_precompiled/
/webpack_build_output/

/.gradle/

#  Gradle Dir when build using build in Docker container
/?/

#  npm Dirs  when build using build in Docker container
/.config/
/.npm/

#  In Case Typscript is somehow run to output .js and .js.map files, they are output to here and ignored
/typescript_compile_output/

#  In case 'typescript_compiler_run__noEmit.sh' is run, exclude it's output
tsc_NoEmit_err.txt
tsc_NoEmit_out.txt

.idea
# Eclipse
/.settings/
.project
# VS Code
VS_Code_Workspace.code-workspace
#  File for ant_buildFrontEnd_CopyToTomcat.xml configured for local system 
ant_buildFrontEnd_CopyToTomcat.settings.properties

#  removed from .gitignore
# package-lock.json

v_webpack__Run__XXX_Only_Build_CONFIG.sh
