/node_modules/
/handlebars_templates_precompiled/
/webpack_build_output/
/.gradle/

#  In Case Typscript is somehow run to output .js and .js.map files, they are output to here and ignored
/typescript_compile_output/

.idea
# Eclipse
/.settings/
.project
# VS Code
VS_Code_Workspace.code-workspace
#  File for ant_buildFrontEnd_CopyToTomcat.xml configured for local system 
ant_buildFrontEnd_CopyToTomcat.settings.properties

#  removed from .gitignore
# package-lock.json
