{{!--  set_default_view__on_main_page_root.handlebars

    Placed on a page to provide an option to set a default view
--}}

<div class=" set-default-view-container ">
    <input type="button" value="Save As Default"
           class=" selector_set_default_view_button ">

</div>