{{!-- searchDetails_WeblinksEntry.handlebars --}}

<div class=" selector_weblink_entry ">
    {{#if canDelete }} 
        <img class="icon-small clickable tool_tip_attached_jq selector_delete_weblink " 
            data-tooltip="Delete Web Link"
            src="static/images/icon-circle-delete.png">
    {{/if}}
    <a target="_blank" href="{{ linkURL }}">{{ linkLabel }}</a>
</div>