 {{!-- searchDetails_ExpandSearchContents_ProjectPageAdditions.handlebars --}}

{{#if weblinksShowBlock }}
    <tr>
        <td valign="top">Raw MS data files:</td>
        <td valign="top" >
            <div class=" selector_weblinks_outer_container " >

                <div class=" selector_weblinks_list_container " ></div>

            </div>
        </td>
    </tr>

{{/if}}

{{#if wsResultPerProjectSearchId.searchFileList }}
    <tr>
        <td valign="top">Additional files:</td>
        <td valign="top">
            {{#each wsResultPerProjectSearchId.searchFileList as |searchFile|}}
                <div class=" selector_display_search_filename_outer_container " 
                    project_search_id="{{ ../projectSearchId }}" search_file_project_search_id="{{ searchFile.id }}" > 

                    <div class=" selector_display_search_filename_container ">
                        
                        <span class=" fake-link  selector_search_filename selector_search_filename_download_fake_link selector_tool_tip_attached " 
                            title="Download file" 
                            >{{ searchFile.name }}</span>
                        
                        {{#if searchFile.canEdit }} 
                            <img class="icon-small fake-link  selector_edit_search_filename selector_tool_tip_attached " src="static/images/icon-edit.png" 
                                title="Edit name">
                        {{/if}}
                    </div>
                    {{#if searchFile.canEdit }} 
                        <div class=" selector_edit_search_filename_container " style="display: none;">
                            <input type="text" style="width:200px;" value="" class=" selector_edit_search_filename_input_field ">
                            <input class="submit-button  selector_save_search_filename " type="button" value="Save" >
                            <input class="submit-button  selector_cancel_edit_search_filename " type="button" value="Cancel" >													 
                        </div>
                    {{/if}}
                </div>
            {{/each}}
        </td>
    </tr>
{{/if}}

{{#if commentsShowBlock }}
    <tr>
        <td valign="top">Comments:</td>
        <td valign="top" >
            <div class=" selector_comments_outer_container " >

                <div class=" selector_comments_list_container " ></div>

            </div>
        </td>
    </tr>

{{/if}}
