{{!-- searches_container_template.handlebars --}}

<div class=" selector_searches_list_container " 
    style=" display: grid; grid-template-columns: {{#if canSelectSearches }} 24px {{/if}} 16px auto; " >
</div>
