{{!-- single_search_checkbox_template.handlebars --}}

<div id="{{ rootElementId }}"
	class=" selector_grid_item_root " 
	data-project_search_id="{{ searchItem.projectSearchId }}"
	data-search_id="{{ searchItem.searchId }}">

   	<input type="checkbox" class=" single_search_checkbox_jq ">
</div>