{{!-- single_folder_main_template.handlebars 

	Template for Single Folder Main and Container for Contained Searches
--}}


<div class=" folder-container left-margin-same-as-checkbox  folder_root_jq selector_collapsable_container"
	data-folder_id="{{ folder.id }}"
	>

	<div  class="collapsable-link-container folder-collapsable-link-container selector_collapsable_link_container " style="">

		<img  src="static/images/pointer-down.png"
			class="  icon-small fake-link-image  folder_hide_contents_link_jq selector_collapsable_collapse_link "
			style="display: none;"
        >
		<img  src="static/images/pointer-right.png"
			class="  icon-small fake-link-image  folder_show_contents_link_jq selector_collapsable_expand_link  "
        >

	</div>

	<div >
		<span class=" folder-name-display folder_name_jq "
			>Folder: {{ folder.folderName }}</span>
			
		{{#if folder.canEdit }} 
			<img  src="static/images/icon-edit.png" 
				class=" clickable icon-small folder_rename_button_jq selector_tool_tip_attached"
				data-tooltip="Edit name of folder">
		{{/if}}
		{{#if folder.canDelete }} 
			<img  src="static/images/icon-circle-delete.png"
				class=" clickable icon-small folder_delete_button_jq selector_tool_tip_attached" 
				data-tooltip="Delete folder.  Searches in it become 'Unfiled'.">
		{{/if}}
	</div>

			
	<div class=" searches-under-folder-block selector_collapsable_item folder_contents_block_jq " 
			style="display: none;" >
	</div>

    <div style="margin-top: 7px; margin-bottom: 8px;" class="searches-block-item-bottom-border"></div>

</div>							

