{{!-- single_search_expansion_icon_template.handlebars --}}

<div id="{{ rootElementId }}"
	class=" selector_grid_item_root " 
	data-project_search_id="{{ searchItem.projectSearchId }}">

	<img class="icon-small fake-link selector_search_item_expand " 
 		src="static/images/pointer-right.png" >
	<img class="icon-small fake-link selector_search_item_collapse " 
 		src="static/images/pointer-down.png" style="display: none;">
</div>
