{{!-- protein_sequence_formatted_display_overall_block_template.handlebars --}}

<div >

	<div class=" selector_sequence_data protein-sequence-formatted-sequence-data-block protein-sequence-formatted-sequence-data-block-actual-sequence-font protein-sequence-formatted-sequence-data-block-actual-sequence-text-formatting " >
	</div>

		{{!-- added class 'protein-sequence-formatted-sequence-data-block' so formatting of 'pos' ... is same 
				as in the protein sequence
		--}}
	<div  class=" protein-sequence-formatted-sequence-data-block "
		style="display: grid; grid-template-columns: 80px 520px 180px;  margin-top: 10px;">
			{{!-- Grid: "Legend:", <Samples and Text Blocks>, <Instructions> --}}
	
		<div class=" pos-legend-top-labels pos-legend-boxes-other-than-seq-examples " >
			Legend:
		</div>
		
		<div >
			<div style="display: grid; grid-template-columns: 35px 140px 35px 280px;">
				{{!-- 
						Grid is 2 entries per row:

						Grid: <Sample>, <Text Block for Sample>, <Sample>, <Text Block for Sample> --}}

				{{!-- When changing the order of Legend Items, Move each "pair" of <div> together, sample and it's text block
					<div >
						<div >
							SAMPLE 
						</div>
					</div>	
					<div>
						Text Block for SAMPLE
					</div>
				 --}}

				{{!--  Row 1 --}}

				<div class=" pos-legend-items ">
					<div class=" pos pos-uncovered protein-sequence-formatted-sequence-data-block-actual-sequence-font ">
						KGS
					</div>
				</div>
				<div class=" pos-legend-labels pos-legend-items pos-legend-boxes-other-than-seq-examples ">
					Uncovered residue  
				</div>

				<div class=" pos-legend-items ">
					<div  class=" pos pos-covered-within-filter-nomod protein-sequence-formatted-sequence-data-block-actual-sequence-font ">
							LNE
					</div>
				</div>
				<div class=" pos-legend-labels pos-legend-items pos-legend-boxes-other-than-seq-examples ">
					Covered residue (in filter)
				</div>

				{{!--  Row 2 --}}

				<div class=" pos-legend-items ">
					{{!-- pos-covered-outside-filter-nomod and pos-covered-nofilters-nomod --}}
					<div  class=" pos pos-covered-nofilters-nomod protein-sequence-formatted-sequence-data-block-actual-sequence-font "> 
							LNE
					</div>
				</div>
				<div class=" pos-legend-labels pos-legend-items pos-legend-boxes-other-than-seq-examples ">
					Covered residue
				</div>

				<div class=" pos-legend-items ">
					 {{!-- pos-covered-within-filter-mod-no-filter and pos-covered-within-filter-mod-within-filter --}}
					<div  class=" pos pos-covered-within-filter-mod-no-filter protein-sequence-formatted-sequence-data-block-actual-sequence-font ">
							LNE
					</div>
				</div>
				<div class=" pos-legend-labels pos-legend-items pos-legend-boxes-other-than-seq-examples ">
					Modified residue (in filter)
				</div>

				{{!--  Row 3 --}}

				<div class=" pos-legend-items ">
					{{!-- pos-covered-outside-filter-mod and pos-covered-nofilters-mod --}}
					<div class=" pos pos-covered-outside-filter-mod protein-sequence-formatted-sequence-data-block-actual-sequence-font "> 
							LNE
					</div>
				</div>
				<div class=" pos-legend-labels pos-legend-items pos-legend-boxes-other-than-seq-examples ">
					Modified residue
				</div>
				
				<div class=" pos-legend-items ">
					<div  class=" pos pos-covered-within-filter-mod-outside-filter protein-sequence-formatted-sequence-data-block-actual-sequence-font ">
							LNE
					</div>
				</div>
				<div class=" pos-legend-labels pos-legend-items pos-legend-boxes-other-than-seq-examples ">
					Modified residue (in filter, not selected mod)
				</div>

			</div>
		</div>
		
		<div class=" pos-instructions-text " style="margin-right: 0px;" >
			<div >
				Click residue to select it and update displayed peptides. 
			</div>
			<div >
				Control-click to select multiple residues.
			</div>
		</div>
	</div>


</div>
