{{!-- protein_sequence_formatted_display_single_position_tooltip_b_end_template.handlebars

		Tooltip Contents for a single position in the Protein sequence

		HTML After All Mod Mass List
 
 --}}

 </div>
 