{{!-- protein_sequence_formatted_display_single_position_tooltip_before_mod_masses_template.handlebars

		Tooltip Contents for a single position in the Protein sequence

		HTML Before the Mod Mass List
 
 --}}
 <div >
 	<div style="margin-bottom: 5px; font-weight: bold">
 		Position: {{ position }}
 	</div>
 	
	 {{#if modMasses }}
	 	<div style="margin-bottom: 3px; font-weight: bold">
	 		Modifications:
	 	</div>
 		<div >

 	 {{/if}}
			 {{!-- Mod Mass List Starts Here --}}
