{{!-- protein_sequence_formatted_display_single_position_tooltip_after_mod_masses_template.handlebars

		Tooltip Contents for a single position in the Protein sequence

		HTML After the Mod Mass List
 
 --}}

{{!-- Mod Mass List Ends Here --}}

	 {{#if modMasses }}
	 	</div>
	 {{/if}}
 </div>
 