{{!-- protein_sequence_formatted_display_single_position_tooltip_mass_entry_template.handlebars

		Tooltip Contents for a single position in the Protein sequence

		Single Mod Mass Entry
 
 --}}
<span {{#if highlightMass }} style="font-weight: bold;" {{/if}} >{{ modMass }}</span>