{{!-- protein_sequence_formatted_display_single_position_tooltip_a_start_template.handlebars

		Tooltip Contents for a single position in the Protein sequence

		HTML Before Any Mod Mass List
 
 --}}
 <div >
 	<div style="font-weight: bold">
 		Position: {{ position }}
 	</div>
 	