{{!-- protein_sequence_formatted_display_single_position_tooltip_e_after_mod_masses_template.handlebars

		Tooltip Contents for a single position in the Protein sequence

		HTML After either of the Mod Mass Lists
 
 --}}

{{!-- Mod Mass List Ends Here --}}

</div>

 