{{!-- protein_sequence_formatted_display_single_position_tooltip_c_before_variable_mod_masses_template.handlebars

		Tooltip Contents for a single position in the Protein sequence

		HTML Before the Variable Mod Mass List
 
 --}}

<div style="margin-top: 5px; margin-bottom: 3px; font-weight: bold">
	Variable Modifications:
</div>
<div >

