{{!-- A comment: organize_searches_single_search_tooltip_template.handlebars
 
        Organize Searches 

  Display order of folders and searches

  Tooltip for Single Search entry
 --}}

<div style="">
	<div style="margin-top: 5px; white-space: nowrap;">Drag Search to a folder to move to that folder</div>
	<div style="margin-top: 20px;">Search Name:</div>
	<div style="margin-top: 5px;">{{name}} ({{ searchId }})</div>
    {{#if formattedLoadTime }}
        <div style="margin-top: 20px;">Upload:</div>
        <div style="margin-top: 5px;">{{formattedLoadTime}}</div>
    {{/if}}
</div>   		  


