{{!-- A comment: organize_searches_single_folder_tooltip_template.handlebars
 
        Organize Searches 

            Display order of folders and searches

            Single Folder Tooltip entry
--}}

<div >
	<div style="margin-top: 5px; white-space: nowrap;">Click to view searches in this folder</div>
	<div style="margin-top: 20px;">Folder Name:</div>
	<div style="margin-top: 5px;">{{name}}</div>
</div>   		  
