{{!-- A comment: project__rename_folder_modal_dialog.handlebars
 
        Project: Rename Folder Modal Dialog Contents
 --}}


<div class=" modal-overlay-body-standard-padding ">
    <div >Enter new name for the folder</div>
    <div style="margin-top: 5px;"
        ><input type="text" value="{{ folderName }}"
        maxlength="400"
        style=" width: 300px;"
        class=" selector_rename_folder_overlay_folder_name ">
    </div>
    <div style="margin-top: 10px">
        <input type="button" value="Save" class=" selector_rename_folder_save_button " >
        <input type="button" value="Cancel" class=" selector_rename_folder_cancel_button" >
    </div>
</div>