 {{!-- A comment: project__organize_searches_button_template.handlebars 
 
        Organize Searches button for placement above the searches
 --}}

<div style="display:inline-block;position:relative;"> 
    <input class="submit-button selector_tool_tip_attached " type="button" id="organize_searches_button"
                data-tooltip="Click here to organize the searches. Put in folders and change the order."
            value="Organize Searches" >
</div>
