/** links **/
a,
a:hover,
a:visited {
    color: #005606;
    font-weight:1000;
}

h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
    width: 75%;
}

/** bold **/
:not(dt) > strong, :not(dt) > b {
    color: #32cd32;
}

/** Nav-bar titles **/
.wy-menu-vertical header,
.wy-menu-vertical p.caption {
    color: #32cd32;
}

/** Side bar non-highlighted header text **/
.wy-nav-side,
.wy-side-nav-search {
    background: #124c05;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a,
.wy-menu-vertical li.toctree-l1.current li.toctree-l2>a
{
    background: #056203;
    border:none;
}

/** Side bar current page block **/
.wy-menu-vertical li.current {
    background: #056203;
    border:none;
}

/** Side bar current page link **/
.wy-menu-vertical li.toctree-l2 a {
    color: #ffffff;
}


.wy-body-for-nav {
    background: #f5fff3;
}

.wy-menu-vertical a {
    color: #cdffc8;
}

.rst-content .note {
    background: #e7fee6;
}

.rst-content .note .admonition-title {
    background: #32cd32;
}


/** Signature text **/
html.writer-html4 .rst-content dl:not(.docutils)>dt,
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt {
    color: #555;
}

/** Signature bg **/
html.writer-html4 .rst-content dl:not(.docutils)>dt,
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt {
    background: #C9F4ED;
    border-top: 3px solid #24B8A0;
}

/** [source] link **/
.rst-content .viewcode-back,
.rst-content .viewcode-link {
    color: #24B8A0;
}

/** note **/
.rst-content .note .wy-alert-title, .rst-content .seealso .admonition-title, .rst-content .seealso .wy-alert-title, .rst-content .wy-alert-info.admonition-todo .admonition-title, .rst-content .wy-alert-info.admonition-todo .wy-alert-title, .rst-content .wy-alert-info.admonition .admonition-title, .rst-content .wy-alert-info.admonition .wy-alert-title, .rst-content .wy-alert-info.attention .admonition-title, .rst-content .wy-alert-info.attention .wy-alert-title, .rst-content .wy-alert-info.caution .admonition-title, .rst-content .wy-alert-info.caution .wy-alert-title, .rst-content .wy-alert-info.danger .admonition-title, .rst-content .wy-alert-info.danger .wy-alert-title, .rst-content .wy-alert-info.error .admonition-title, .rst-content .wy-alert-info.error .wy-alert-title, .rst-content .wy-alert-info.hint .admonition-title, .rst-content .wy-alert-info.hint .wy-alert-title, .rst-content .wy-alert-info.important .admonition-title, .rst-content .wy-alert-info.important .wy-alert-title, .rst-content .wy-alert-info.tip .admonition-title, .rst-content .wy-alert-info.tip .wy-alert-title, .rst-content .wy-alert-info.warning .admonition-title, .rst-content .wy-alert-info.warning .wy-alert-title, .rst-content .wy-alert.wy-alert-info .admonition-title, .wy-alert.wy-alert-info .rst-content .admonition-title, .wy-alert.wy-alert-info .wy-alert-title {
    background: #24B8A0;
}

/** note title **/
.rst-content .seealso, .rst-content .wy-alert-info.admonition, .rst-content .wy-alert-info.admonition-todo, .rst-content .wy-alert-info.attention, .rst-content .wy-alert-info.caution, .rst-content .wy-alert-info.danger, .rst-content .wy-alert-info.error, .rst-content .wy-alert-info.hint, .rst-content .wy-alert-info.important, .rst-content .wy-alert-info.tip, .rst-content .wy-alert-info.warning, .wy-alert.wy-alert-info {
    background: #c9F4ED;
}

/** Function call
html.writer-html4 .rst-content dl:not(.docutils)>dt:before,
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt:before {
    color: #444444;
}
**/
