{{!-- A comment: project_search_details_add_comment_dialog_template.handlebars

  When user clicks "+Comment" this is displayed to get new comment
 --}}

<div class=" selector_comments_add_comment_container " >
    <div>
        <input class=" selector_comments_add_comment_input " type="text" style="font-size:80%;width:200px;">
        <input style="font-size:80%;" class="submit-button selector_comments_add_comment_add_button " type="button" value="Add Comment" >
        <input style="font-size:80%;" class="submit-button selector_comments_add_comment_cancel_button " type="button" value="Cancel" >
    </div>
</div>
