{{!-- A comment: project_search_details_update_comment_dialog_template.handlebars

  When user clicks Update Comment
 --}}

<div class=" selector_comments_update_comment_container " >
    <div>
        <input class=" selector_comments_update_comment_input " type="text" style="font-size:80%;width:200px;">
        <input style="font-size:80%;" class="submit-button selector_comments_update_comment_update_button " type="button" value="Update" >
        <input style="font-size:80%;" class="submit-button selector_comments_update_comment_cancel_button " type="button" value="Cancel" >
    </div>
</div>
