 {{!-- A comment: project_search_details_add_weblink_link_template.handlebars --}}


<div class=" selector_weblinks_add_link_open_container " 
    >[<span class=" fake-link  selector_weblinks_add_link_open  selector_tool_tip_attached" style="font-size:80%;text-decoration:none;" 
        data-tooltip="Add URL for a RAW file"
        >+Link to Raw file</span>]</div>
