 {{!-- A comment: project_search_details_manage_sub_groups_link_template.handlebars --}}


 <div class=" fake-link selector_search_details_manage_sub_groups_link "
      style="font-size: 12px; white-space: nowrap;"
      title="Manage Sub Groups">
     Manage
 </div>
