{{!-- project_notes_entry_edit.handlebars --}}

<div  class="note_maint_container_div_jq" style="margin-bottom: 5px;">

    <div class="error-message-container error_message_container_jq error_message_project_note_required_jq" >
    
        <div class="error-message-inner-container" style="width: 300px;">
            <div class="error-message-close-x error_message_close_x_jq">X</div>
            <div class="error-message-text" >Project Note cannot be empty</div>
        </div>
    </div>

    <div >
    <textarea class="note_maint_textarea_jq" rows="10" cols="100" maxlength="5000">{{ noteText }}</textarea>
    </div>
    <div >
    <input class="submit-button  selector_note_maint_save_button " type="button" value="Save">
    <input class="submit-button  selector_note_maint_cancel_button " type="button" value="Cancel">
    </div>
</div>		