{{!-- project_notes_add_note_container_and_link.handlebars
    
    Added when user can add notes.

    The initial clickable '+Note'
 --}}

<div class=" selector_add_note_inner_root_container  second-level-text project-info-text">
    
    <div  class=" selector_add_note_button_container_div" >
        [<span class="  fake-link selector_add_note_init_input selector_tool_tip_attached" data-tooltip="Add note to project" 
            style="font-size: 80%;text-decoration: none;">+Note</span>]
    </div>
</div>