/*
 * Styles applicable to all pages in the site
 */

html, body {
	margin:0;
	padding:0;
	height:100%;
}

body {
  color: $font-color-dark;
  background-color: $color-white;
  font-size: $default-font-size;  //  Currently 14px
  font-family: $theme-font;
  font-style:normal;
  font-weight:500;
}

a {
  text-decoration: none;

  &:link {
    color: $link-color-unvisited;
  }

  &:visited {
    color: $link-color-visited;
  }

  &:hover {
    color: $link-color-hover;
  }

  &:active {
    color: $font-color-dark;
  }
}

.fake-link {
  color: $link-color-unvisited;
  cursor: pointer;

  &:hover {
    color: $link-color-hover;
  }

  &:active {
    color: $font-color-dark;
  }

}

.fake-link-image {  // Image used as link
  cursor: pointer;
}


a.override-to-base-color {
    &:link {
        color: $font-color-dark;
      }
    
      &:visited {
        color: $font-color-dark;
      }
}


label { // Surrounds checkbox and text with the checkbox
  padding-right: 2px; 

  &:hover { 
    background-color: $site-color-medium; 
  }
}

input[type="radio"], input[type="checkbox"] {
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 0px;
}

input[type="checkbox"], .left-margin-same-as-checkbox {
  margin-left: 4px; //  Repeat from Browser default since add same to some text to left align with checkbox
}

// set the sizes of our icons

img.icon-small, input[type="image"].icon-small  { 
  max-height: 16px;
  max-width:12px;
}

//  For pointer-right.png and pointer-down.png icons used with icon-small, A containing <div> to create standard padding to right
//    (This is not used where the icon is positioned to the left of the primary block using CSS class child-table-show-hide-icon-container with CSS class child-table-show-hide-icon
div.pointer-right-down-icon-small-container {
  padding-right: 4px;
  display: inline-block;
}

img.icon-large, input[type="image"].icon-large {
    max-width: 20px;
    max-height: 20px;
}
  
    
//  Basic error text color
.error-text { color: $error-text-color }


//  Standard border colors,  Applying will display a border with the Browser default border style and width
.standard-border-color-very-dark {
  border-color: $site-color-very-dark
}
.standard-border-color-dark {
  border-color: $site-color-dark
}
.standard-border-color-medium {
  border-color: $site-color-medium
}
.standard-border-color-light {
  border-color: $site-color-light
}
.standard-border-color-gray {
  border-color: $site-color-gray
}

.peptide-filter--not-border-color {
  border-color: $peptide-filter--not-border-color
}

//   Div that is displayed over a block to display a message, typically updating or loading data

.block-updating-overlay-container {
  font-size : 18px;
  min-width: 400px;
  min-height: 100px; 
  text-align: center; 
  padding-top: 30px; 
  padding-bottom: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  background-color: white;
  position: absolute; 
  left: 0px; 
  right: 0px; 
  top: 0px; 
  bottom: 0px;
}

//  Tooltip developed in Limelight:  tooltip_LimelightLocal_ReactBased.tsx

.tooltip-limelight-react-based-outer-container {
  position: absolute; 
  background-color: white;
  padding: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: $site-color-very-dark

  //  Set in the code: See code for current values

  // z-index: 1000, 
  // top: tooltip_Top,
  // left: tooltip_Left, 
  // minWidth: 50, 
  // maxWidth: "calc( 100vw - 100px )", //  Viewport width (100vw) minus 100px.  100px chosen in part to allow for vertical scrollbar
}


/*  CSS styling for qtip2 tool tips  */

/*  Values in the qtip2 css file:
.qtip-default{border-width:1px;border-style:solid;border-color:#F1D031;background-color:#FFFFA3;color:#555}
*/

.qtip-default{
  border-width: 2px;
  border-style: solid;
  border-color: $site-color-very-dark;
  background-color: white;
  //color:#000000;
  line-height: 1.4em;
  font-size: $default-font-size;
}

/* css for styling the autocomplete */

.autocomplete { background-color: #E8EAFF; border-color:#000000; border-width: 1px; border-style:solid; padding:10px; overflow-y: scroll; overflow-x: hidden; }

.autocomplete .selected { 	color: white;	background-color:#000000; }

.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; }
	

.table-no-border-no-cell-spacing-no-cell-padding { border-width:0px; padding: 0px; border-spacing : 0px; }

.table-no-border-no-cell-spacing-no-cell-padding tbody, 
.table-no-border-no-cell-spacing-no-cell-padding tr, 
.table-no-border-no-cell-spacing-no-cell-padding th, 
.table-no-border-no-cell-spacing-no-cell-padding td,
tr.table-no-border-no-cell-spacing-no-cell-padding, 
td.table-no-border-no-cell-spacing-no-cell-padding { padding-top: 0px; padding-bottom: 0px; border-spacing : 0px; }


tr.table-no-border-no-cell-spacing-no-cell-padding, .table-no-border-no-cell-spacing-no-cell-padding , .table-no-border-no-cell-spacing-no-cell-padding td {
	padding-top: 0px; padding-bottom: 0px;
	border-spacing : 0px;
}



div.footer-outer-container {
    margin-top: 15px;
    background-color: $site-color-medium;
    font-size: 12px;
    color: black;
    border-top-style: solid;
    border-top-color: $site-color-gray;
    border-top-width: 1px;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;


    div.footer-left-container {
        float: left;
        padding-left: 7px;
        margin-top: 8px;
    }

    div.footer-right-container {
        float: right;
        padding-right: 7px;
        margin-top: 8px;
    }

    div.footer-center-outer-container {
        text-align: center;
        margin-top: 8px;
    }

    img#footer-logo-img {
      max-height:23px;
      position:absolute;
      top:3px;
    }

}

	/* modal dialog background */
.modal-dialog-overlay-background { display: none; position: fixed; z-index: 99998; cursor: pointer;top: 0;left: 0;height: 100%;width: 100%;background-color: #000 /* #A55353 */;opacity: 0.8;filter:alpha(opacity=80);}

	/* modal dialog overlay container */
.modal-dialog-overlay-container { display: none; text-align: left; position: absolute; z-index: 999999; background-color: white; padding: 20px; border-color: #A0A0A0; border-width: 2px; border-style: solid;   }


div.error-message-container, div.success-message-container {
  display: none;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 1;
}

.error-message-inner-container, .success-message-inner-container {
  display: inline-block;
  width: 90%;
  font-size: 18px;
  padding: 10px;
  border-width: 2px;
  border-color: $site-color-gray;
  border-style: solid;
  color: $color-white;
}

.error-message-inner-container {
  background-color: red;
}

.success-message-inner-container {
  background-color: green;
}

.error-message-close-x, .success-message-close-x {
  cursor: pointer;
  float: right;
  margin-left: 10px;
}

/////////////////////////

// styling of form elements and buttons
input {
      font-size:14px;

          //  Any change to button styling also needed for <button> styling which is next

      &[type="button"], &[type="submit"] {
          color: $color-white;
          background-color: $site-color-dark;
      }

      &[type="button"]:disabled, &[type="submit"]:disabled {
          opacity: 0.6;
      }
}

//  Any change to button styling also needed for <input type="button" > <input type="submit" > styling which is immediately above

button {

  font-size:14px;

  color: $color-white;
  background-color: $site-color-dark;

  &:disabled {
    opacity: 0.6;
  }
}

//////////////////

.clickable {
  cursor: pointer;
}
