/*
 * Styles found only on data-view pages, such as listing peptides, proteins, and mod lists.
 *
 * Also found on Project page, Project List Page, and Project Search Page (All Searches for all Projects for current user)
 */
    
 body.data-page {

    
    div.hovered-div-highlight:hover {
        background-color:$site-color-light;
    }


    //  These are used when add icon to left of row for show/hide child table

    $data-table-container--div-padding-for-room-for-child-table-show-hide-icon : 24px;

    //  Place here so can use on other elements to position with same left align as data table with icon to left of row for show/hide child table
    .padding-for-room-for-child-table-show-hide-icon {

        padding-left: $data-table-container--div-padding-for-room-for-child-table-show-hide-icon;
    }

    .child-data-table-container {

        padding-top: 15px;
        padding-left: 15px;

        &.child-data-table-container-not-last-parent-row {  // Added to other than parent last row. Adds space between child table and next parent row
            padding-bottom: 15px;
        }

        .padding-for-room-for-child-table-show-hide-icon {  // Override padding left when .padding-for-room-for-child-table-show-hide-icon is under .child-data-table-container
            padding-left: 3px;
        }
    }

    //  Data Table React: Start

    div.data-table-container-react {

        display: inline-block;  //  Added so background color and border of Group rows does not extend to right past width of table.
                                //     Added here since adding to individual rows was causing more than one data row to be on the same visual row

        //  These are used when add icon to left of row for show/hide child table

        $data-table-container--div-padding-for-room-for-child-table-show-hide-icon : 24px;

        $child-table-show-hide-icon-container--width : 20px;
        $child-table-show-hide-icon-container--left : -16px;
    
        //   Moved to outside containing CSS name:

        // &.padding-for-room-for-child-table-show-hide-icon {

        //     padding-left: $data-table-container--div-padding-for-room-for-child-table-show-hide-icon;
        // }

        //  Groups of Rows classes

        $table-group-border-or-filler: 2px;  //  The space added around groups to provide room for the border on hover
        $table-group-item-margin-top-bottom: 10px - $table-group-border-or-filler;
    
        div.data-table-header-row-groups-container { //  container div placed around header row when Data Table contains groups
            padding-left: $table-group-border-or-filler;
            padding-right: $table-group-border-or-filler;
        }

        div.table-row-group-outer-container { // Table Group Outer Container for a group of Data Rows

            // If CSS Class 'table-row-group-outer-container' is changed to 'display: inline-block'
            //       Add '<br />' after that <div> to ensure each of the div above is on a new visual line rather than more than one ending up on the same visual line 

            position: relative;
            padding-left: $table-group-border-or-filler;
            padding-right: $table-group-border-or-filler;
            padding-top: $table-group-border-or-filler;
            padding-bottom: $table-group-border-or-filler;
            margin-bottom: $table-group-item-margin-top-bottom;

            &:first-child {
                margin-top: $table-group-item-margin-top-bottom;    
            }

            &:hover { 
                border-style: solid;
                border-width: 2px;
                border-color: $site-color-gray;
                padding-left: 0px;
                padding-right: 0px;
                padding-top: 0px;
                padding-bottom: 0px;
            }

            // div.table-row-group-inner-container { // Table Group Inner Container for a group of Data Rows
                
                // display: inline-block;   //  Remove since limit width to table width by setting 'display: inline-block;' on CSS class data-table-container-react
                // margin-bottom: -3px;  // hide stray 3 pixels at bottom of this div   //  Not needed since removed  display: inline-block;
            // }

            div.table-row-group-inner-container-highlighted-row { // Table Group Inner Container for a group of Data Rows - highlighted

                background: $site-color-light;
            }
        }

        //  !!!  Header Table and Data Rows Table.  <table> and children values.  !!!

        table.data-table-header-table, table.data-table-data-rows-table {

          font-size: 12px;  //  DataTable Default Font Size
          border-spacing: 12px 6px;  // <Horizontal> <Vertical> -- Spacing around cells in table
        }

        //  Data Table Row Border values.  Declared here since also used in Table Header formatting

        //  Border width and margin as variable since also used in place-holder spacing
        $data-table-data-row-border-width: 2px;
        $data-table-data-row-top-bottom-outer-padding-when-have-inner-border: 2px;

        //  Numbers in the 2 inputs are added together and have the 'px' added
        //  Add the 2 values together for the place holder class
        $data-table-data-row-top-bottom-outer-padding-placeholder-for-inner-border: $data-table-data-row-border-width + $data-table-data-row-top-bottom-outer-padding-when-have-inner-border;


        //  Header Table

        div.table-header-container-div {
            background-color: $site-color-medium;
            display: inline-block;

            &.table-header-container-div-padding-for-data-row-border {
                padding-left: $data-table-data-row-border-width;
                padding-right: $data-table-data-row-border-width;
            }
        }

      table.data-table-header-table {

        //  !!!   Search for 'table.data-table-header-table' above for additional values on this class name and it's children

        //  Header Row

        tr.data-table-header-row {
            font-weight: bold;
        }

        th.data-table-header-cell {
            text-align: left;
            vertical-align:bottom;
            white-space:normal;

            div.display-name-container {

                span.display-name-value {
                    overflow-wrap: break-word;
                }
            }
        }
      }
        
        //  Data Rows - Either all or in a group

        div.data-table-data-rows-outer-containing-div {  

            //  If CSS Class 'data-table-data-rows-outer-containing-div' is changed to 'display: inline-block'
            //         Add '<br />' after that <div> to ensure each of the div above is on a new visual line rather than more than one ending up on the same visual line 

            position: relative;

            div.child-table-show-hide-icon-container {
                text-align: center;
                width: $child-table-show-hide-icon-container--width;
                position: absolute;
                left: $child-table-show-hide-icon-container--left;
                top: 6px;

                img.child-table-show-hide-icon {
                    max-width: 11px;
                    max-height: 11px;
                }
            }

            //  Top/Bottom Padding large enough so when add class row-border to div the positions don't shift
            &.row-border-place-holder {
                padding-top: $data-table-data-row-top-bottom-outer-padding-placeholder-for-inner-border ;
                padding-bottom: $data-table-data-row-top-bottom-outer-padding-placeholder-for-inner-border;
                padding-left: $data-table-data-row-border-width;
                padding-right: $data-table-data-row-border-width;
            }

            &.row-border-padding {
                padding-top: $data-table-data-row-top-bottom-outer-padding-when-have-inner-border;
                padding-bottom: $data-table-data-row-top-bottom-outer-padding-when-have-inner-border;
            }

            div.data-table-data-rows-inner-containing-div {

                &.table-row-hovered-highlight:hover {
                  background-color:$site-color-medium;
                }

                &.table-row-highlight-with-background-color {
                  color: white; //  does not apply within the contained <table>, at least on Chrome so set font color on the <tr> below to white
                  background-color: $site-color-dark;

                  &:hover {

                    background-color: $site-color-very-dark;
                  }
                }

                &.grey-out-row, &.grey-out-row.table-row-highlight-with-background-color {  //  grey out the row
                    opacity: 0.5;
                }

                &.row-border {
                    border-width: 2px;
                    border-color: $site-color-dark;

                    &.row-border-style-solid {
                      border-style: solid;
                    }
                    &.row-border-style-dashed {
                      border-style: dashed;
                    }

                    &.table-row-border-peptide-filter--not-border-color {
                      border-color: $peptide-filter--not-border-color
                    }
                }


                table.data-table-data-rows-table {

                    //  !!!   Search for 'table.data-table-data-rows-table' above for additional values on this class name and it's children

                    tr.data-table-data-row {

                        &.table-row-highlight-with-background-color {
                          color: white;  // Override <table> default font color
                                //  Background color will be set on <div> containing the <table>
                        }

                        //  Cells inside a data row of the table

                        td.data-table-data-cell {
                            vertical-align: top;
                            //padding-top: 5px;
                            //padding-bottom: 5px;
                            word-break: break-word; //  Keep this here as long as it works since not all cells will have the <span> with the class name 'table-data-cell-property-value'

                            //span.table-data-cell-property-value {
                            //    overflow-wrap: break-word;
                            //}
                        }

                    }
                }
            }
        }
    }

    //  Data Table React: End


    //  Data Table: Start

    div.hoveredTableRow {
        background-color:$site-color-medium;
    }

    div.div-table-container {
        display: inline-block;
    }

    div.div-table-header-cell {
        vertical-align:bottom;
        display: inline-block;
        white-space:normal;
        padding:5px;
        padding-left:2px;
    }

    div.div-table-cell {
        display: inline-block;
        white-space:normal;
        padding:5px;
        padding-left:2px;
    }

    div.div-table-header-row {
        //font-size:14px;
        font-weight:bold;
        background-color:$site-color-medium;
    }

    div.table-rows-container { // Table Data Rows Container
        margin: 0px;
        padding: 0px;
    }

    div.div-table-row {
        white-space:nowrap;
    }

    div.div-table-data-row {
        vertical-align:top;
    }

    div.div-table-data-cell {
        vertical-align:top;

        span.table-data-cell-property-value {
            overflow-wrap: break-word;
        }
    }

    //  Data Table: End


    div.outermost-div {
        min-height: 100%;
        position: relative;
    }

    .navigation-links-block {
        margin-bottom: 12px;
    }

    div.success-message-container {
        display: none;
        width: 100%;
        text-align: center;
        position: absolute;
        z-index: 1;
    }

    //  Overlay for Maint of Sub Groups
    div.sub-group-maint-overlay-main-contents-container {

      .sub-group-maint-default-border-style {

        border-style: solid;
        border-color: $site-color-gray;
      }

    }

    //  Search Details Block.  Filters (PSM, Peptide) for a single search

    // style for display the label for a type of filter
    .filter-single-type-label-display {
    	// cursor: pointer;  // switch to add clickable class
    	line-height: 1.3em; 
    	white-space: nowrap;
    }

    // style for display blocks showing filter values
    .filter-single-value-display-block {
    	// cursor: pointer;  // switch to add clickable class
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 3px;
        padding-right: 3px;
        margin-right: 3px;
        white-space: nowrap;
        background-color: $site-color-medium;
        border-style: solid;
        border-color: $site-color-gray;
        border-width: 1px;
    }

    /////

    //  Filter Section: Search Sub Groups row


   .filter-common-block-selection-outer-block {

     .filter-common-selection-block {

       width: 480px;
       margin-left: 290px;
       padding-top: 1px;
       position: relative;
     }

     .filter-common-single-entry-outer-div {
       display: inline-block;
       position: relative;
       white-space: nowrap;
       padding-right: 10px;
       margin-bottom: 2px;
     }
   }



    ////////

    .project-text-link {
        font-size: 12px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        @include opacity(0.7);
    }

    div.top-level-label {
        font-weight: bold;
        font-size: 24px;
    }

    .top-level-label-bottom-border {
        clear: left;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: $site-color-medium;;
        @include opacity(0.6);
    }


	/* background colors for the searches.  
	
	This number of colors must match the calculation in /WebRoot/WEB-INF/jsp-includes/mergedSearch_SearchIndexToSearchColorCSSClassName.jsp
	
	There is a copy of these colors altered to compensate for fill-opacity: 0.3 in the venn diagram in js/mergedSearchesVennDiagramCreator.js
	
        */
    .merged-search-search-background-color-1 { background-color: #FFDFDF }
    .merged-search-search-background-color-2 { background-color: #DFFFDF }
    .merged-search-search-background-color-3 { background-color: #DFDFFF }
    .merged-search-search-background-color-4 { background-color: #FFDFFF }
    .merged-search-search-background-color-5 { background-color: #FFEBC1 }
    .merged-search-search-background-color-6 { background-color: #DFFFFF }
    .merged-search-search-background-color-7 { background-color: #FFFDC1 }
    .merged-search-search-background-color-8 { background-color: #EBF2FF }
    .merged-search-search-background-color-9 { background-color: #F5FFDE }



    .search-cutoffs-user-input-search-bounding-box { border-width: 1px; border-style: solid; border-color: $site-color-medium; }
    
    .search-cutoffs-user-input-search-separator { border-width: 0px; border-style: solid; border-color: $site-color-dark; }

	/*  --------------------------------------------------  */
	
	//   Containers for Buttons "Set Default", "Save View" and "Share Page"

     .set-default-view-root-container {
       display: inline-block;
       position: relative;
     }
     .set-default-view-container { // In Template for button
       display: inline-block;
       position: relative;
     }
    .save-view-root-container {
        display: inline-block;
        position: relative;
    }
    .save-view-container { // In Template for button
        display: inline-block;
        position: relative;
    }
    .share-page-root-container {
        display: inline-block;
        position: relative;
    }
    .share-page-container { // In Template for button
        display: inline-block;
        position: relative;
    }
    
	    
	/*  --------------------------------------------------  */

   //  Lorikeet  modal dialog: Not Currently Used since show Lorikeet in new Window instead.

   //   Still have code and Handlebars Templates for showing Lorikeet in Overlay.
	
	/* -----   Lorikeet  modal dialog background ----- */
	
	
		/* Lorikeet modal dialog background */
	.lorikeet-modal-dialog-overlay-background {
		
	
		cursor: pointer; /* set mouse to pointer */
	
		  z-index: 2001;
		  
		  background-color: black;
		opacity: .80;
		filter: Alpha(Opacity=80);
	
		  /*  Removed
		background: #666 url(/???context???/css/jquery-ui-1.10.2-Themes/ui-lightness/images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;
		*/
		/*  
		opacity: .50;
		filter: Alpha(Opacity=50);
		*/
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	
	/*  View Spectra Overlay for View Spectra Div   */
	
	
	div.view-spectra-overlay-div {
	
		opacity: 1;
		filter: Alpha(Opacity=100);
	
		background-color:white;
		outline: 0px;
	
		position: absolute;
		top: 50px;
		left: 50px;
	
		/*
		height: 400px;
		*/
	
		border: 1px;
		border-style: solid;
		border-color: #D3D3D3 ;
	
	
		display: block;
		z-index: 2002;
	
		width: 1000px;
	
	
	}
	
	.view-spectra-overlay-header { 
		
		height: 35px;
		background-color: $site-color-medium; padding-bottom: 5px;
	
		border-width: 0px;
		border-bottom-width: 1px;
		border-style: solid;
		border-color: #D3D3D3 ;
	 }
	
	.view-spectra-overlay-X-for-exit-overlay { float: right; border-color: #000000; height:33px; background-color: $site-color-dark; color: white; padding: 3px; margin: 0px;  cursor: pointer;  }
	
	.view-spectra-overlay-header-text { color: black; padding: 3px; margin: 0px; text-align: center;  }
	
	.view-spectra-overlay-body {  padding: 20px; }
	
	.view-spectra-overlay-link { margin-right: 20px;  }
	


    
    /* modal overlay styling */
    div.modal-overlay-page-background {

		z-index: 1001;
		background-color: black;
        @include opacity(0.8);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
        height: 100%;
    }
    
    div.modal-overlay-page-background-clickable {
    
		cursor: pointer;
    }

        div.modal-overlay-container {

            @include opacity(1.0);
            background-color:white;
            outline: 0px;
            position: absolute;
            border: 1px;
            border-style: solid;
            border-color: $site-color-gray;
            z-index: 1002;
            margin: 0 auto;
            cursor:auto;
        
            div.modal-overlay-header {

                height: 35px;
                background-color:$site-color-medium;
                padding-bottom: 5px;
                border-width: 0px;
                border-bottom-width: 1px;
                border-style: solid;
                border-color: $site-color-gray;

                 h1.modal-overlay-X-icon {
                    float: right;
                    border-color: #000000;
                    height:33px;
                    background-color:$site-color-dark;
                    color: white;
                    padding: 3px;
                    margin: 0px; 
                    cursor: pointer; 
                 }

                 h1.modal-overlay-header-text {
                    color: black;
                    padding: 3px;
                    margin: 0px;
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden; text-overflow: ellipsis;
                 }

             }//end header div

             //  Comment out since on same element as .modal-overlay-container
            // div.modal-overlay-content-body { 

                $modal-overlay-body-standard-padding-value: 20px;
                
                .modal-overlay-body-standard-padding { // Standard padding for modal filled with text.
                	padding: $modal-overlay-body-standard-padding-value;
                }	 
                .modal-overlay-body-standard-padding-top { // Standard padding for modal filled with text.
                	padding-top: $modal-overlay-body-standard-padding-value;
             	}	 
                .modal-overlay-body-standard-padding-bottom { // Standard padding for modal filled with text.
                	padding-bottom: $modal-overlay-body-standard-padding-value;
             	}	 
                .modal-overlay-body-standard-padding-left { // Standard padding for modal filled with text.
                	padding-left: $modal-overlay-body-standard-padding-value;
             	}	 
                .modal-overlay-body-standard-padding-right { // Standard padding for modal filled with text.
                	padding-right: $modal-overlay-body-standard-padding-value;
             	}

                //  Listed again as ...-margin... for use with scrollable div

                .modal-overlay-body-standard-margin { // Standard margin for modal filled with text.
                  margin: $modal-overlay-body-standard-padding-value;
                }
                .modal-overlay-body-standard-margin-top { // Standard margin for modal filled with text.
                  margin-top: $modal-overlay-body-standard-padding-value;
                }
                .modal-overlay-body-standard-margin-bottom { // Standard margin for modal filled with text.
                  margin-bottom: $modal-overlay-body-standard-padding-value;
                }
                .modal-overlay-body-standard-margin-left { // Standard margin for modal filled with text.
                  margin-left: $modal-overlay-body-standard-padding-value;
                }
                .modal-overlay-body-standard-margin-right { // Standard margin for modal filled with text.
                  margin-right: $modal-overlay-body-standard-padding-value;
                }
          // }
    }

    div.modal-overlay-flexbox-overflow-control-no-header-container {

        //  Currently only used with Overlay with NO header

        //  Uses Flexbox to force all parts to fit within the max height of the DOM element (<div>) that this class is applied to

        //  This supports only 1 size adjusting <div> that will have auto scrollbar if all parts exceed max height of top level DOM element

        display: flex;
        flex-flow: column;

        .top-level.fixed-height { //  apply 'top-level fixed-height' to all entries but the single variable height entry
            flex: 0 1 auto;
        }

        .top-level.single-entry-variable-height { //  apply 'top-level single-entry-variable-height' to only ONE variable height entry
            flex: 1 1 auto;
        }
    }


    /*  --------------------------------------------------  */

    //   Change Searches and Re-Order Searches on Data Pages Project Search Id Based

    //     Both Use Standard Overlay, this is for the contents

    //   Change Searches Overlay Contents

   div.change-searches-overlay-outer-block {

      .folder-container {
        padding-left: 8px;
        margin-top: 8px;

        .folder-name-and-collapsable-container {

          &:hover {
            background-color: $site-color-medium;
          }

          .folder-collapsable-link-container {
            padding-top: 3px;
            padding-right: 6px;
          }

          .folder-name-display {
            font-size: 18px;
            font-weight: bold;
          }

          .searches-under-folder-block {
            margin-left: 20px;
            margin-top: 6px;
          }
        }
      }

      div.search-entry-container {

            margin-top: 8px;
            margin-bottom: 8px;

            padding-left: 4px;
            padding-right: 4px;

            &:hover {
                background-color: $site-color-medium;
            }

            &.selected {
                color: white;
                background-color:$site-color-dark;

                &:hover {
                    background-color: $site-color-very-dark;
                }
            }

            &.selected-other-cell {

                color: $site-color-gray-text
            }
      }
    }

   //   Re-Order Searches Overlay Contents

   div.re-order-searches-overlay-outer-block {

     .searches-container {
       //padding: 2px;
       border-width: 2px;
       border-style: solid;
       border-color: $site-color-gray;

       .search-single-entry-container {
         padding: 2px;
         border-width: 2px;
         border-style: solid;
         border-color: $site-color-gray;
       }
     }
   }

   /*  --------------------------------------------------  */
    
    
	
        // View Single Protein Container for View Single Protein Div 

        //   No Longer an overlay since it is not on top of the Protein List
        
	/* -----   View Single Protein  modal dialog background ----- */
	
	
		/* Single Protein modal dialog background */
        .single-protein-modal-dialog-overlay-background {
		
	
            // cursor: pointer; /* set mouse to pointer */
        
            background-color: #333333;
            //  Do NOT use opacity here, doesn't work since no white under it
            // opacity: .80;
            // filter: Alpha(Opacity=80);
        
              /*  Removed
            background: #666 url(/???context???/css/jquery-ui-1.10.2-Themes/ui-lightness/images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;
            */
            /*  
            opacity: .50;
            filter: Alpha(Opacity=50);
            */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        
        
        /*  View Single Protein Overlay for View Single Protein Div   */
                    
        
        div.view-single-protein-overlay-div {
        
            opacity: 1;
            filter: Alpha(Opacity=100);
        
            background-color:white;
            outline: 0px;
        
            position: relative;

            margin-left: auto;
            margin-right: auto;

            display: block;
        
            width: 1090px; //  Starting width to allow for sequence coverage block
        }
        
        .view-single-protein-overlay-header { 
            
            height: 35px;
            background-color: $site-color-very-dark;
            
            padding-bottom: 5px;
        
            border-width: 0px;
            border-bottom-width: 1px;
            border-style: solid;
            border-color: #D3D3D3 ;
         }
        
        .view-single-protein-overlay-X-for-exit-overlay { border-color: #000000; height:33px; background-color: white; color: $site-color-very-dark; padding: 3px; margin: 0px;  cursor: pointer;  }
        
        .view-single-protein-overlay-header-text {
          color: white; padding: 3px; margin-left: 20px; margin-right: 0px; margin-top: 0px; margin-bottom: 0px;
          white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
        }
        
        .view-single-protein-overlay-body {  padding: 20px; }
        
        .view-single-protein-overlay-link { margin-right: 20px;  }
        
    



    //////////////////////////////////////

    div#protein-position-filter-left-pane-content {
        position:absolute;
        top:40px;
        left:0px;
        height: 455px;
        width: 250px;
        background-color: white;
        padding-bottom: 5px;
        border-width: 0px;
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: #D3D3D3;
        margin: 0px;
        overflow:auto;
    }

    div#protein-position-filter-right-pane-content {
        position:absolute;
        top:40px;
        left:260px;
        height: 455px;
        width: 540px;
        background-color: white;
        padding-bottom: 5px;
        border-width: 0px;
        margin: 0px;
        overflow:auto;
    }

    // styles for the protein position filter on mod page
    div.protein-position-filter-protein-listing {
        width: 100%;
        height: 30px;
        line-height: 30px;
        border-width: 0px;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: #D3D3D3;
        border-bottom-width:1px;
        border-bottom-style:solid;
        border-bottom-color:white;
        font-size: 14px;
        text-indent: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &.selected {
            background-color:$site-color-dark;
            color:white;
            border-bottom-width:1px;
            border-bottom-style:solid;
            border-bottom-color:$site-color-dark;;
        }

        &.hovered {
            border-top-style:solid;
            border-top-width:1px;
            border-top-color:$font-color-dark;
            border-bottom-style:solid;
            border-bottom-width:1px;
            border-bottom-color:$font-color-dark;
        }
    }

    div.protein-filter-item {
        display: inline-block;
        background-color: $site-color-medium;
        padding:3px;
        border: 1px solid $site-color-gray;
        font-size:14px;
        font-weight:normal;
    }

	//  Protein Sequence Formatted
	.protein-sequence-formatted-sequence-data-block {

        //  Variables for space around a single character in the sequence coverage

        $protein-sequence-formatted-sequence-data-block--single-character--padding-left : 1px;
        $protein-sequence-formatted-sequence-data-block--single-character--padding-right : 1px;

        $protein-sequence-formatted-sequence-data-block--single-character--margin-left : 0px;
        $protein-sequence-formatted-sequence-data-block--single-character--margin-right : 1px;

        $protein-sequence-formatted-sequence-data-block--single-character--width: 8px;
            
        div.tick-number-length-1 { // For Tick Mark number above that is length of 1 and also for '|'.  Same as .pos except different bottom margin
            display: inline-block;

			padding-left: $protein-sequence-formatted-sequence-data-block--single-character--padding-left; 
			padding-right: $protein-sequence-formatted-sequence-data-block--single-character--padding-right;
			padding-top: 0px; 
			padding-bottom: 0px;

			margin-left: $protein-sequence-formatted-sequence-data-block--single-character--margin-left;
			margin-right: $protein-sequence-formatted-sequence-data-block--single-character--margin-right;
			margin-top: 0px;
            margin-bottom: 1px;

            width: $protein-sequence-formatted-sequence-data-block--single-character--width;
            
			position:relative;
			
        }

        div.tick-number-length-2 { // For Tick Mark number above that is length of 2

            //  Add to margin-right and padding-right the margin-left and padding-left that would have been on the second character
            //    so that the total width of this DOM element is the same total width of 2 DOM elements with class 'div.tick-number-length-1'

            $tick-number-length-2-length : 2; //  Update to 3 if create a div.tick-number-length-3

            display: inline-block;

			padding-left: $protein-sequence-formatted-sequence-data-block--single-character--padding-left; 
			padding-right: $protein-sequence-formatted-sequence-data-block--single-character--padding-right * $tick-number-length-2-length + $protein-sequence-formatted-sequence-data-block--single-character--padding-left;
			padding-top: 0px; 
			padding-bottom: 0px;

			margin-left: $protein-sequence-formatted-sequence-data-block--single-character--margin-left;
			margin-right: $protein-sequence-formatted-sequence-data-block--single-character--margin-right * $tick-number-length-2-length + $protein-sequence-formatted-sequence-data-block--single-character--margin-left;
			margin-top: 0px;
            margin-bottom: 1px;

            width: $protein-sequence-formatted-sequence-data-block--single-character--width * $tick-number-length-2-length;
            
			position:relative;
			
        }

		span.header-pos-spacer-tick-number { // number for tick mark
            margin-left: 1px;  // Same width as div.pos
            margin-right: 2px;
		}	
		span.header-pos-spacer { // One per sequence entry to position the header tick marks
            margin-left: 1px;  // Same width as div.pos
            margin-right: 2px;
		}
		//  For (# digits - 1) in tick number, substitute this for 'header-position-spacer'
		//  One per sequence entry to position the header tick marks
		span.header-pos-spacer-after-tick-number { // extra pixel each side to account for missing padding for digits in tick mark
			margin-left: 6px; // same as span.header-pos-spacer but margin each side is margin * 2
		}
		
		//   Boxes other than sequence examples so can add padding or margin top 
		//   to match vertical positioning of sequence examples
		div.pos-legend-boxes-other-than-seq-examples { margin-top: 0px; margin-right: 10px; } // margin-top: 0px; match div.pos
		
		div.pos-legend-top-labels { font-weight: bold; }
		div.pos-legend-labels { font-weight: 500; font-size: 13px; margin-top: 1px; } // label for each sequence example
		div.pos-instructions-text { font-size: 13px; }
		
		div.pos-legend-items { margin-bottom: 3px; }
		
		div.pos { // single sequence position - Base class for formatting every residue
			cursor: pointer;
			display: inline-block;

			padding-left: $protein-sequence-formatted-sequence-data-block--single-character--padding-left; 
			padding-right: $protein-sequence-formatted-sequence-data-block--single-character--padding-right;
			padding-top: 0px; 
			padding-bottom: 0px;

			margin-left: $protein-sequence-formatted-sequence-data-block--single-character--margin-left;
			margin-right: $protein-sequence-formatted-sequence-data-block--single-character--margin-right;
			margin-top: 0px;
            margin-bottom: 3px;

            width: $protein-sequence-formatted-sequence-data-block--single-character--width;
            
			position:relative;
			
			&:hover {
				background-color: $site-color-dark;
            }
            
			&.pos-hover:hover {                 //  React version, added this class to end of class names for each position to support hover override
				background-color: $site-color-dark;
			}

			&.pos-sel::after {  //  Applies when both classes 'pos' and 'pos-sel' are on the elemennt
				content: '';		//  Creates pseudo element after the actual element with this to put a box around it
				position: absolute;
				top: -1px;
				bottom: 0px;
				left: -1px;
				right: -1px;
				border-color: #000000; 
				border-width: 2px; 
				border-style: solid;
				//  clear padding
				padding-left: 0px; 
				padding-right: 0px;
				padding-top: 0px; 
				padding-bottom: 0px;
            }	
            
            //  use of '&' means that it applies when both class 'pos' (containing class) and the class after the '&' are on the elemennt

            //         This 'filter' is the Modification and Sequence Position selections

            &.pos-uncovered {   // uncovered residue
                color: $font-color-light-gray; // 'fade out' the text
            }

            //  WARNING:  Create separate legend entries if split these CSS classes
            &.pos-covered-outside-filter-mod,  // covered residue. not in filtered peptide list
            &.pos-covered-nofilters-mod {  // modded residue, no filters (mod or position)
                    color: white;
                background-color: #000000
            }

            //  WARNING:  Create separate legend entries if split these CSS classes
            &.pos-covered-outside-filter-nomod,  // covered residue, not covered by filtered peptide list
            &.pos-covered-nofilters-nomod {  // not modded residue, no filters (mod or position)
                color: #000000;
                font-weight: 900;
            }

            &.pos-covered-within-filter-nomod {  // covered residue, not modded, covered by filtered peptide list
				color: #ff0000;
				font-weight: bold;
            }

            //  WARNING:  Create separate legend entries if split these CSS classes
            &.pos-covered-within-filter-mod-no-filter, // covered residue,  covered by filtered peptide list, mod, no mod filter
            &.pos-covered-within-filter-mod-within-filter {  // modded residue in filtered peptide list, has a mod == a mod filter
	            color: white;
				background-color: #ff0000; 
            }
            &.pos-covered-within-filter-mod-outside-filter {  // modded residue in filtered peptide list, does not have a mod in mod filter 
	            color: white;
				background-color: $font-background-color-orange;
            }

            
            &.pos-match-user-peptide-filter-search-string {  //  User has entered a Peptide String.  This is used to highlight positions that do NOT have a background color
                background-color: yellow;
            }

		}
    } // end .protein-sequence-formatted-sequence-data-block

    	//  Protein Sequence Font - Only applied to the actual sequence, and surrounding numbers for positions AND to Example Text in Legend
	.protein-sequence-formatted-sequence-data-block-actual-sequence-font {
        font-family: Lucida Console,Monaco,monospace;
    }

    //  Protein Sequence Text Formatted - Only applied to the actual sequence, and surrounding numbers for positions
    .protein-sequence-formatted-sequence-data-block-actual-sequence-text-formatting {
        font-size: 14px;
    }

   //  "Filter On ..." Block on Peptide and Single Protein

   .filter-common-block-selection-container-block {

     display: grid;
     grid-template-columns: min-content auto;

       //  Common Filter Block layout.  Overridden for specific Filter Blocks Next

       //.filter-common-block-selection-outer-block {

         .filter-common-filter-label { // The "Filter On ..."
           font-size: 18px;
           font-weight: bold;
           white-space: nowrap;
           padding-right: 15px;
           padding-top: 2px;
         }
         .filter-common-selection-block {
           //width: 480px;
           position: relative;

           .filter-common-selection-inner-block {  // Any height adjustment to make baseline same as label "Filter On ..."
             margin-top: 2px;
           }
         }

         .filter-common-single-entry-outer-div {
           display: inline-block;
           position: relative;
           white-space: nowrap;
           padding-right: 10px;
           margin-bottom: 2px;
         }
       //}

       //  Modification Mass Selection - main page (or single protein)

       //  Modification Mass Selection - Modal Dialog

       .mod-mass-select-dialog-bounding-box {
         border-width: 1px;
         border-style: solid;
         border-color: $site-color-medium;
       }

   }

	//  Single Protein Overlay boxes on right
	
	div.single-protein-box-on-right {
	
		border-width: 1px;
		border-color: $site-color-dark; 
		border-style: solid;
		
		div.header-label {
			font-size: 18px;
			font-weight: bold;
			padding-left: 8px; 
			padding-right: 8px;
			padding-top: 10px; 
			padding-bottom: 10px;
			border-bottom-width: 1px;
			border-bottom-color: $site-color-dark; 
			border-bottom-style: solid;
		}

		div.box-contents {
			padding-left: 12px; 
			padding-right: 10px;
			padding-top: 8px; 
			padding-bottom: 8px;	
			
			div.box-line {
				font-weight: bold;
				padding-top: 2px; 
				padding-bottom: 2px;	
			}
		}
    }
    
    ////////////////////////////////////////

    // Experiment Display

    .experiment-display-container {

        table.root-table {
            border-collapse : collapse;
            border-spacing : 0px;
            padding : 0px
        }

        td.cell {
            border-color: $site-color-gray;
            border-style: solid;
            padding: 0px;

            &.condition-label-cell { //  Contains a Condition Label

                &:hover {
                    background-color: $site-color-medium;
                }

                &.selected {
                    background-color: $site-color-dark;
                }
            }

            &.main-condition-cell { //  Main Data Cell, for each combination of conditions.  Main block of cells below and to right of condition label cells

                &:hover {
                    background-color: $site-color-medium;
                }

                &.selected-directly {
                  background-color: $site-color-dark;
                }

                &.selected-indirectly {
                    background-color: $site-color-dark-alt;
                }
            }

            div.cell-contents-container { //  <div > inside the <td> that contains the actual cell contents

                padding: 3px;
                white-space: nowrap;
            }

        }

    }



    ////////////

    // Experiment Create/Edit

    .experiment-maint-main-body {

        .experiment-maint-default-border-style {
            
            border-style: solid;
            border-color: $site-color-gray;
        }
    }


    //    Maint of Single Cell Overlay

    .experiment-maint-single-cell-container {

        .condition-group-list-container {

            .condition-group-list-entry {
                display: grid; 
                                    // 'drag icon' 'condition grp label' 'condition count' 'condition group type'
                grid-template-columns: 20px 200px 50px 80px;
            }
        }

        .search-column-label {
            font-weight: bold;
            margin-top: 8px;
            margin-bottom: 6px;
        }

        .search-item {
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
            padding-top: 2px;
            padding-bottom: 2px;

            &:hover {
                background-color: $site-color-medium;
            }
        }
    }

    ////////////////////////////////////////
	
	//  Spectrum Viewer window
	
	div.psm-selected {
	
		background-color:$site-color-medium;
	}
 }
 