
// our colors
$color-white: #ffffff;

$font-color-dark: #545454;

$site-color-very-dark:#005606;
$site-color-dark: #32cd32;
$site-color-medium: #e4f9e4;
$site-color-light: #f0f7f0;

$site-color-gray: #d3d3d3;

$link-color-unvisited: #005606;
$link-color-visited: #005606;
$link-color-hover: $site-color-dark;
$link-color-active: $site-color-dark;

// our fonts
$theme-font: arial, sans-serif;

// what all borders look like
%default-border-properties {
  border-style: solid;
  border-color: $site-color-gray;
  border-width: 1px;
}

// import our mixins
@import 'mixins.scss';

// import page-specific styles
@import 'all-pages.scss';
@import 'inset-styles.scss';
@import 'standard-header-page.scss';
@import 'projects-list-page.scss';
@import 'data-pages.scss';
@import 'project-page.scss';
@import 'user-account-management-page.scss';
