
// our colors
$color-white: #ffffff;

$font-color-dark: #545454;

$font-color-light-gray: #808080; // rgb(128,128,128): Used for 'fading out' text

$font-background-color-gray: #969696;  // Currently NOT USED.  Was used in Sequence Coverage

$font-background-color-orange: orange;  // Currently used in Sequence Coverage

$site-color-very-dark:#005606;
$site-color-dark: #32cd32;
$site-color-medium: #e4f9e4;
$site-color-light: #f0f7f0;

$site-color-dark-alt: #CDCD32;

$site-color-gray: #d3d3d3;
$site-color-gray-text: #a3a3a3;

$link-color-unvisited: #005606;
$link-color-visited: #005606;
$link-color-hover: $site-color-dark;
$link-color-active: $site-color-dark;

//  The border color used for the NOT of OR/AND/NOT Peptide Filters

$peptide-filter--not-border-color: red;


//  Error Text

$error-text-color: #A55353;

// our fonts
$theme-font: arial, sans-serif;

//  Default font size (Applied to <body> in all-pages.scss)
$default-font-size: 14px;


// what all borders look like
%default-border-properties {
  border-style: solid;
  border-color: $site-color-gray;
  border-width: 1px;
}

// import our mixins
@import 'mixins.scss';

// import page-specific styles
@import 'all-pages.scss';
@import 'inset-styles.scss';
@import 'standard-header-page.scss';
@import 'projects-list-page.scss';
@import 'data-pages.scss';
@import 'project-page.scss';
@import 'user-account-management-page.scss';
@import 'mod-page.scss';
