
body.mod-page {

  div.protein-position-filter-listing {
    padding:1px 3px;
    margin-right:3px;
    white-space:nowrap;
    background-color:#e4f9e4;
    border:1px solid #d3d3d3;
    display:inline-block;
    vertical-align:middle;
  }

  div.data-viz-options-container {
    margin-top:15px;
  }

  div.data-viz-title {
    font-size:16px;
    font-weight:bold;
  }

  div.data-viz-form {
    margin-top:15px;
    max-width:800px;
    margin-bottom:25px;

    div.viz-form-section {
      vertical-align: top;
      display:inline-block;
      margin-left:15px;
      max-width:500px;
      min-width:150px;
    }

    td {
      vertical-align:top;
    }

  }

  span.mod-mass-text {
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
  }

  div.indicator-image {
    display:inline-block;
    margin-right:10px;
  }

  div.mod-mass-listing {
    margin-left:20px;
    font-size:14px;
    margin-bottom:15px;
  }

  div.mod-mass-listing-data {
    margin-top:15px;
    margin-left:25px;
  }

  text.search-label {
    cursor:pointer;
  }

  rect.selection {
    stroke: green;
    stroke-dasharray: 2px;
    stroke-opacity: 1.0;
    fill: transparent;
    stroke-width: 3px;
  }

  rect.selected {
    opacity:1.0;
  }

  rect.unselected {
    opacity:0.5;
  }


  /* disable text selection */
  svg *::selection {
    background: transparent;
  }

  svg *::-moz-selection {
    background: transparent;
  }

  svg *::-webkit-selection {
    background: transparent;
  }
}