// styles related specifically to the view project page

body.project-page {

    div.top-level-container {
        margin-top: 20px;
        clear: left;

        div.top-level-collapsable-link-container {
            padding-top: 5px;
        }

        div.collapsable-link-container {
            float: left;
        }

        div.top-level-label {
            margin-left: 30px;
        }
        
        div.top-level-label-bottom-border {
			clear: left;
			margin-top: 10px; margin-bottom: 10px;
			width: 100%; 
			border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: $site-color-dark;
			opacity:0.6; filter:alpha(opacity=60);
		}

        div.project-info-block {
            margin-left: 40px;
        }
        
        div.second-level-label { font-weight: bold; }
        
        .project-info-block { margin-left: 40px; }
		.project-info-single-block { margin-bottom: 10px; clear: both; }
		.project-info-label { float: left;  }
		.project-info-text { margin-left: 120px; }
		.project-info-end-block-clear-float { clear: both;  }
		
		
		.note-display-div { margin-bottom: 10px; }
		
		
		.researchers-block { margin-left: 30px; }
		
        div.researchers-block-item-bottom-border {
			clear: left;
			margin-top: 10px; margin-bottom: 10px;
			width: 100%; 
			border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: $site-color-dark;
			opacity:0.6; filter:alpha(opacity=60);
		}
		
		.researchers-icon { float: left;  }
		
		.invite-user-block { margin-left: 20px; }
		
		div.invite-user-expand-icon-container { 
			float: left; padding-right: 8px; 
		}
		
			/* user list, invited and current */
			
		.invited-person-invite-date-block { padding-left: 20px; }	
		

		.public-access-block { margin-left: 30px; }
		
		////////////////////////
		
		//   Upload Search

		.upload-search-block { margin-left: 30px; }
		.upload-search-block tr:hover { background-color: $site-color-light; }
		
				
		
		/* -----   upload Limelight XML file modal dialog background ----- */
		
		
			/* upload Limelight XML file modal dialog background */
		.limelight-xml-file-upload-modal-dialog-overlay-background {
			
		
			/* cursor: pointer; */ /* set mouse to pointer so user knows they can click on it */
		
			  z-index: 1001;
			  
			  background-color: black;
			opacity: .80;
			filter: Alpha(Opacity=80);
		
			  /*  Moved to inline style in header so context is not hard coded
			background: #666 url(/???context???/css/jquery-ui-1.10.2-Themes/ui-lightness/images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;
			*/
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		
		
		/*  Limelight XML file upload Overlay    */
		
		
		div.limelight-xml-file-upload-overlay-div {
		
			opacity: 1;
			filter: Alpha(Opacity=100);
		
			background-color:white;
			outline: 0px;
		
			position: absolute;
			
			/* 
			position: fixed;
			top: 30px;
			left: 30px;
			 */
		
			/*
			height: 400px;
		
			border: 3px;
			border-style: solid;
			*/
		
		
			display: block;
			z-index: 1002;
		
			width: 800px;
		
		
		}
		
		.limelight-xml-file-upload-overlay-header { background-color: $site-color-medium; padding-bottom: 5px; }
		
		.limelight-xml-file-upload-overlay-X-for-exit-overlay { float: right; border-color: #000000; background-color: white; color: $site-color-dark; padding: 3px; margin: 0px;  cursor: pointer;  }
		
		.limelight-xml-file-upload-overlay-header-text { color: black; padding: 3px; margin: 0px; text-align: center;  }
		
		.limelight-xml-file-upload-overlay-body {  padding: 20px; }
		
		
		.limelight-xml-file-upload-overlay-main-table { width: 100%; border-spacing: 0px; margin: 0px; padding: 0px; }
		
			/*  The columns must have "width" property.  Multiple tables must align */
		.limelight-xml-file-upload-overlay-main-table td { padding: 0px; margin: 0px; }
		.limelight-xml-file-upload-overlay-main-table td.column-1 { width: 20px; padding-right: 3px; } /* width of delete icon */
		.limelight-xml-file-upload-overlay-main-table td.column-2 { padding-right: 10px; vertical-align: text-top;  }
		.limelight-xml-file-upload-overlay-main-table td.column-3 {  } /* no width: to get rest of table width */ 
		
		.limelight-xml-file-upload-overlay-main-table td.column-2, 
		.limelight-xml-file-upload-filename-containing-div { width: 300px; max-width: 300px;}
		
		.limelight-xml-file-upload-filename-containing-div { overflow-x: auto; padding-top: 3px;  }
		
		.limelight-xml-file-upload-overlay-main-table td.column-filename  { vertical-align: text-top; }
		
		
		    /*  upload progress bar  */
		.import-limelight-xml-file-progress-bar-container { width: 180px; }
		.import-limelight-xml-file-progress-outer { border: 1px solid #000;  text-align: center; }
				/*  JS code adjusts the width so the background color is shown */
		.import-limelight-xml-file-progress { width: 0%; background-color: $site-color-dark; height: 17px; }
		
		.import-limelight-xml-file-upload-complete { font-style: italic; }
		
			/* display upload error dialog */
		
		.import-limelight-xml-file-upload-error-overlay-containing-outermost-div { width: 100%; height: 0px;   }
		.import-limelight-xml-file-upload-error-overlay-containing-outer-div { position: relative; display: inline-block; }
		
		/* These 2 divs MUST have the same width so set width for both together */
		.import-limelight-xml-file-upload-error-overlay-containing-outer-div, .import-limelight-xml-file-upload-error-overlay-container { width: 600px;  }
		
		/* extends  body.crosslinks-page-main .modal-dialog-overlay-container, other values for this set just above ^^^  */
		.import-limelight-xml-file-upload-error-overlay-container { position: fixed; top: 30px; left: 30px;  }
		
		
			/* display file choose error dialog */
		
		.import-limelight-xml-choose-file-error-overlay-containing-outermost-div { width: 100%; height: 0px;   }
		.import-limelight-xml-choose-file-error-overlay-containing-outer-div { position: relative; display: inline-block; }
		
		/* These 2 divs MUST have the same width so set width for both together */
		.import-limelight-xml-choose-file-error-overlay-containing-outer-div, .import-limelight-xml-choose-file-error-overlay-container { width: 600px;  }
		
		/* extends  body.crosslinks-page-main .modal-dialog-overlay-container, other values for this set just above ^^^  */
		.import-limelight-xml-choose-file-error-overlay-container { position: fixed; top: 30px; left: 30px;  }
		
			/* confirm abandon upload dialog */
		
		.import-limelight-xml-file-confirm-abandon-upload-overlay-containing-outermost-div { width: 100%; height: 0px;   }
		.import-limelight-xml-file-confirm-abandon-upload-overlay-containing-outer-div { position: relative; display: inline-block; }
		
		/* These 2 divs MUST have the same width so set width for both together */
		.import-limelight-xml-file-confirm-abandon-upload-overlay-containing-outer-div, .import-limelight-xml-file-confirm-abandon-upload-overlay-container { width: 600px;  }
		
		/* extends  body.crosslinks-page-main .modal-dialog-overlay-container, other values for this set just above ^^^  */
		.import-limelight-xml-file-confirm-abandon-upload-overlay-container { position: fixed; top: 30px; left: 30px;  }
		
		
			/* confirm remove upload dialog */
		
		.import-limelight-xml-file-confirm-remove-upload-overlay-containing-outermost-div { width: 100%; height: 0px;   }
		.import-limelight-xml-file-confirm-remove-upload-overlay-containing-outer-div { position: relative; display: inline-block; }
		
		/* These 2 divs MUST have the same width so set width for both together */
		.import-limelight-xml-file-confirm-remove-upload-overlay-containing-outer-div, .import-limelight-xml-file-confirm-remove-upload-overlay-container { width: 600px;  }
		
		/* extends  body.crosslinks-page-main .modal-dialog-overlay-container, other values for this set just above ^^^  */
		.import-limelight-xml-file-confirm-remove-upload-overlay-container { position: fixed; top: 30px; left: 30px;  }
		
		
		
		
				
			/* confirm remove upload dialog */
		
		.import-limelight-xml-file-confirm-remove-upload-overlay-containing-outermost-div { width: 100%; height: 0px;   }
		.import-limelight-xml-file-confirm-remove-upload-overlay-containing-outer-div { position: relative; display: inline-block; }
		
		/* These 2 divs MUST have the same width so set width for both together */
		.import-limelight-xml-file-confirm-remove-upload-overlay-containing-outer-div, .import-limelight-xml-file-confirm-remove-upload-overlay-container { width: 600px;  }
		
		/* extends  .modal-dialog-overlay-container, other values for this set just above ^^^  */
		.import-limelight-xml-file-confirm-remove-upload-overlay-container { position: fixed; top: 30px; left: 30px;  }

		
		
		
		
			/* Modal dialog for notifying user that one the Limelight XML Import items imported successfully */
		
		.limelight-xml-file-upload-complete-successfully-overlay-containing-outer-div { position: relative; }
		
		.limelight-xml-file-upload-complete-successfully-overlay-container { width: 450px; position: fixed; top: 100px; left: 100px; }
		
		
		
		
		//  Folders for searches

		.folder-container { padding-top: 3px; padding-bottom: 3px; clear: left; } //  Use padding-left: from left-margin-same-as-checkbox
		.folder-collapsable-link-container { float: left; padding-top: 3px; padding-right: 6px; }
		// .folder-collapsable-link {  }

		.folder-name-display { font-size: 18px; font-weight: bold; }

		.searches-under-folder-block { margin-left: 20px; margin-top: 6px; }

		.empty-folder-text { color: $site-color-gray-text }

		
		/////////////////////////////////////////
		
		//   Searches

        div.searches-block {
            margin-left: 10px;
        }

        td.search-checkbox-cell {
            background-color: #ffffff;
            padding-top: 0px;
        }

        input[type="radio"], input[type="checkbox"] {
            vertical-align: middle;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        span.search-name-display {
            font-weight: bold;
        }

        div.search-details-container-div {
            background-color: #ffffff;
        }

        div.searches-block-item-bottom-border, .search-entry-bottom-border {
			clear: left;
			margin-top: 10px; margin-bottom: 10px;
			width: 100%; 
			border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: $site-color-dark;
			opacity:0.6; filter:alpha(opacity=60);
		}
    }




	/* Organize Searches - Put Searches in Folders and Order Searches and Folders */
	
	#organize_searches_folder_searches_table { min-width: 1000px; width: 100%; table-layout: fixed; border-collapse: collapse; }
	#organize_searches_folder_searches_table,
	#organize_searches_folder_searches_table tr,
	#organize_searches_folder_searches_table td { border: 1px solid $site-color-dark;  }
	#organize_searches_folder_searches_table td { padding: 10px; width: 50%; max-width: 50%; min-width: 50%; vertical-align: top;  }
		
		/* Folder cell */
	/*
	#organize_searches_folder_total_block_container { min-width: 400px; max-width: 400px; padding-right: 60px; vertical-align: top; }
	*/
	#organize_searches_folder_total_block_container { vertical-align: top; }
	/* If change min-width, max-width, or padding: Update max-width on:  #organize_searches_main_data_block .item-display-name */
	
	/* Draggable item (folder or search) */
	#organize_searches_main_data_block .sort-handle-and-text {  white-space: nowrap;  cursor: move; }
	#organize_searches_main_data_block .sort-handle-and-text:hover { color: $font-color-dark; background-color:  $site-color-light }
	#organize_searches_main_data_block .sort-handle-float { float: left; padding-left: 2px; padding-right: 2px; padding-top: 4px; }
	/* max-width: value 330px = <td> width 400 - padding-right 60 - 10 */
	#organize_searches_main_data_block .item-display-name { max-width: 90%; float: left; padding: 3px; overflow: hidden; text-overflow: ellipsis; }
	#organize_searches_main_data_block .edit-delete-icons {padding-top: 3px; padding-right: 3px; } 
	#organize_searches_main_data_block .outer-item-container { position: relative; }
	#organize_searches_main_data_block .outer-item-container .selected-item { color: $color-white; background-color: $site-color-dark; } 
	#organize_searches_main_data_block .outer-item-container .selected-item:hover { color: $color-white; background-color: $site-color-dark; }
	#organize_searches_main_data_block .outer-item-container .selected-item  .folder-row-icon { background-color: $color-white; }
	#organize_searches_main_data_block .highlighted-item { color: $font-color-dark; background-color: $site-color-light; } 
	
	#organize_searches_folder_searches_not_in_any_folder:hover {  background-color: $site-color-light; }
	
	


}