/*
 * Styles found only on "standard header" pages.
 * Any page with the 'standard' header:
 *    top left:  logo, 'projects' link, project link if project based page
 *    top right: user info if logged in, log in or log out icon, etc
 *   
 *   **  Includes footer-outer-container  **
 */

 body.standard-header-pages {

     //  Is not inside the 'div.header-outer-container'
     div.header-projects-list-container {
       box-shadow: 10px 10px 22px 15px rgba(0, 0, 0, 0.2);
       //top: 24px;  Set in JS when positioned
       //  width, max-height set on element
       display: none;
       position: fixed;
       overflow-y: auto;
       background-color: $color-white;
       padding: 15px;
       white-space: nowrap;
       padding: 15px;
       z-index: 1000;

       .project-text-div {
         text-overflow: ellipsis;
         overflow-x: hidden;
       }

       .project-text-label-bottom-border {
         clear: left;
         margin-top: 10px;
         margin-bottom: 10px;
         width: 100%;
         border-bottom-style: solid;
         border-bottom-width: 1px;
         border-bottom-color: $site-color-dark;
         @include opacity(0.6);
       }

     }

     div.header-outer-container {
        height: 30px;
        padding-top: 4px;
        background-color: $site-color-medium;
        border-bottom-style: solid;
        border-bottom-color: $site-color-gray;
        border-bottom-width: 1px;
        position:fixed;
        top:0px;
        margin:auto;
        width:100%;
        z-index:500;
        //  min-width set at bottom of file since also set other class(es) to same value in same assignment

        div.header-logo {
            margin-left:4px;
        }

        div.header-left-main-container {
            margin-top:4px;
        }

        div.header-pointer-right {
            display: inline-block;
            //padding-left: 5px;
            //padding-right: 5px;
        }

       $header-projects-max-width-hide-div-none: 600px;

        div.header-projects-pointer-right--right-of-projects {
            display: inline-block;
            padding-left: 4px;
            padding-right: 10px;

            @media screen and (max-width: $header-projects-max-width-hide-div-none) {

              display: none;
            }
        }

        div.header-projects-label-div {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;

            @media screen and (max-width: $header-projects-max-width-hide-div-none) {

              display: none;
            }
        }

        .header-projects-label {
            //color: #000000;
            font-size: 16px;
            //font-weight: bold;
            //@include opacity(0.9);
            text-decoration: none;
        }

        div.header-user-name-container {
            padding-left:  17px;
            padding-top:   4px;
            margin-right: 7px;
            max-width: 30vw;
            overflow-x: hidden;
        }

        .header-user-name {
            font-size: 12px;
            @include opacity(0.9);
        }

        div.header-right-icons-container {
            margin-top:2px;
            margin-right:4px;
        }

    }

    .overall-enclosing-block {
        padding-top:35px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 31px;
    }
 
    // div.header-outer-container,
     .footer-outer-container {
        min-width: 1000px;
    }
 
 }
 