/.gradle/

#  Gradle Dir when build using build in Docker container
/?/

#  npm Dirs  when build using build in Docker container
/.config/
/.npm/

/bin/
/build/
/node_modules/
/.settings/
.classpath
.project
.springBeans

